<h3 class="title-v2 text-center">Our Brands</h3>
<div class="text-center center-block col-md-10 float-none">
    <div class="col-md-3"> <a href="#" title="brand"><img class="img-responsive" src="~/assets/images/brand/swadharma.png" alt="Swadharma"></a> </div>
    <div class="col-md-3">   <a href="#" title="brand"><img class="img-responsive" src="~/assets/images/brand/tamra.png" alt="Tamra"></a> </div>
    <div class="col-md-3">     <a href="#" title="brand"><img class="img-responsive" src="~/assets/images/brand/sootram.png" alt="Sootram"></a> </div>
    <div class="col-md-3">   <a href="#" title="brand"><img class="img-responsive" src="~/assets/images/brand/neeti.png" alt="Neeti"></a> </div>
</div>
