<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/owl-slider.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/vendor/settings.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/animate.css" />
    <link rel="shortcut icon" href="~/assets/images/favicon.png" />
    <script type="text/javascript" src="~/assets/js/jquery-1.11.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>    
</head>
<body>
    <div class="awe-page-loading">
        <div class="awe-loading-wrapper">
            <div class="awe-loading-icon"> <img src="~/assets/images/logo.png" alt="images"> </div>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content popup-search">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" class="form-control control-search" placeholder="Search and hit enter...">
                        <button class="button_search" type="button">Search</button>
                    </div>
                    <!-- /input-group -->

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- End pushmenu -->
    <div class="wrappage">
        <!-- <div id="rtl">RTL</div> -->
        <header id="header" class="header-v2 header-v3 absolute">
            <div class="header-top">
                <div class="container-fluid0">
                    <p class="icon-menu-mobile"><i class="fa fa-bars"></i></p>
                    <div class="logo"><a href="#" title="Sarso"> <img src="~/assets/images/logo.png" alt="Sarso"> </a></div>
                    <div class="logo-mobile"><a href="#" title="Sarso"><img src="~/assets/images/logo-mobile.png" alt="Sarso"></a></div>
                    <nav class="mega-menu">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <ul class="nav navbar-nav" id="navbar">
                            <li class="level1 dropdown">
                                <a href="#" title="Page">SHOP</a>
                                <div class="sub-menu dropdown-menu">
                                    <ul class="menu-level-1">
                                        <li class="level2">
                                            <a href="#">Swadharma</a>
                                            <ul class="menu-level-2">
                                                <li class="level3"><a href="#" title="Personal Care">Personal Care</a></li>
                                                <li class="level3"><a href="#" title="Health Care">Health Care</a></li>
                                                <li class="level3"><a href="#" title="Spirituality">Spirituality</a></li>
                                                <li class="level3"><a href="#" title="Combos">Combos</a></li>
                                            </ul>
                                        </li>
                                        <li class="level2">
                                            <a href="#">SARSO</a>
                                            <ul class="menu-level-2">
                                                <li class="level3"><a href="#" title="Men">Men</a></li>
                                                <li class="level3"><a href="#" title="Women">Women</a></li>
                                                <li class="level3"><a href="#" title="Home Decor">Home Decor</a></li>
                                                <li class="level3"><a href="#" title="Personal Care">Personal Care </a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Dropdow Menu -->
                            </li>
                            <li class="level1"><a href="~/Home/About" title="About us">About us</a> </li>
                            <li class="level1"><a href="~/Home/StartYourBusiness" title="Start your Business">Start your Business</a> </li>
                            <li class="level1"><a href="#" title="Neeti">Neeti</a> </li>
                            <li class="level1 dropdown">
                                <a href="#" title="Home">More</a>
                                <ul class="menu-level-1 dropdown-menu">
                                    <li class="level2"><a href="#" title="Download SARSO App">Download SARSO App</a></li>
                                    <li class="level2"><a href="#" title="Media">Media</a></li>
                                    <li class="level2"><a href="#" title="Certifications">Certifications</a></li>
                                    <li class="level2"><a href="#" title="Contact us">Contact us</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="box-right">
                        <ul>
                            @if (!User.Identity.IsAuthenticated)
                            {
                            <li class="settings hover-menu">
                                <a href="#" title="settings"> <span class="lock"><i class="icon"></i></span> </a>
                                <ul class="submenu list-menu align-left">
                                    <li class="hassub">
                                        <div class="container-fluid">
                                            <ul class="infor">
                                                <li><span class="fa fa-unlock-alt"></span><a id="openLogin" href="~/Account/Login" title="Login">Login</a></li>
                                                <li><span class="fa fa-user"></span><a href="~/Account/SignIn" title="Register">Register</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            }
                            <li> <span class="search" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="icon"></i></span></li>

                            <li> <span class="shopcart"><a href="#"><i class="icon"></i></a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End container -->
            <!-- End header-top -->
        </header>
        <!-- /header -->
        

        @RenderBody()

        <!-- End container -->
       
           

            <!-- End brand -->
            <!-- End instagram -->
            <footer id="footer" class="footer-v3 align-left">
                <div class="footer-inner">
                    <div class="container container-ver2">
                        <div class="row space-30">
                            <div class="col-md-3 col-sm-4 footerbox" style="border:none;">
                                <ul class="list-footer">
                                    <li><span>There’s More to Know</span></li>
                                    <li><a href="#" title="News">News</a></li>
                                    <li><a href="#" title="Sustainability">Sustainability</a></li>
                                    <li><a href="#" title="BLOG">BLOG</a></li>
                                    <li><a href="#" title="Merchandise Bank Owner">Merchandise Bank Owner</a></li>
                                    <li><a href="#" title="Media">Media</a></li>
                                    <li><a href="#" title="Certifications">Certifications</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-4 footerbox">
                                <ul class="list-footer">
                                    <li><span>How do I</span> </li>
                                    <li><a href="#" title="Pay for my order">Pay for my order</a></li>
                                    <li><a href="#" title="Return a Product">Return a product</a></li>
                                    <li><a href="#" title="Add Grievances">Add Grievances / Feedback</a></li>
                                    <li><a href="#" title="Download SARSO App">Download SARSO App</a></li>
                                </ul>
                            </div>
                            <div class="col-md-2 col-sm-4 footerbox">
                                <ul class="list-footer">
                                    <li><span>Others</span></li>
                                    <li><a href="#" title="MBO Login">MBO Login</a></li>
                                    <li><a href="#" title="#">Contact SARSO</a></li>
                                    <li><a href="#" title="#">Awards</a></li>
                                    <li><a href="#" title="#">FAQs</a></li>
                                    <li><a href="#" title="#">Help</a></li>
                                    <li><a href="#" title="#">Privacy Policy</a></li>
                                    <li><a href="#" title="#">Terms &amp; Conditions</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-6 newsletter-bottom footerbox">
                                <ul class="info-footer space-10">
                                    <li>Sign Up to Our Newsletter </li>
                                    <li>
                                        <form action="#" method="get" accept-charset="utf-8">
                                            <input type="text" onblur="if (this.value == '') {this.value = 'Enter your email...';}" onfocus="if(this.value != '') {this.value = '';}" value="Enter your email..." class="input-text required-entry validate-email" title="Sign up for our newsletter" id="newsletter" name="email">
                                            <button class="button button1 hover-white" title="Subscribe" type="submit">SIGN UP</button>
                                        </form>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                                <div class="fsdalogo"> <img src="~/assets/images/FDSA_logo.png" alt="Federation of Direct Selling Association" /></div>
                            </div>
                        </div>
                        <div class="box bottom">
                            <p class="float-left">Copyright &copy; 2020 Sarso Biz - All Rights Reserved.</p>
                        </div>
                        <!-- End box -->
                    </div>
                    <!-- End container -->
                </div>
                <!-- End footer-inner -->
            </footer>
        </div>
    <!-- End wrappage -->
    <!-- Youtube Videos -->

    <div class="modal fade wow zoomIn ceo1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg popup-search">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="iframe-container">
                            <iframe allowFullScreen="allowFullScreen" src="https://www.youtube.com/embed/Nz37HYQn-uw?ecver=1&amp;cc_load_policy=1&amp;iv_load_policy=3&amp;yt:stretch=16:9&amp;autohide=0&amp;color=red&amp;width=560&amp;width=560?rel=0" allowtransparency="true" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade wow zoomIn get-in-touch" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg popup-search">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="content-text center">
                            <h3 style="text-transform: none">Ask a Question</h3>
                            <form class="form-horizontal space-50">
                                <div class="form-group col-md-6">
                                    <input type="text" placeholder="Name*" id="inputName" class="form-control">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" placeholder="Email*" id="inputsumary" class="form-control">
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="text" placeholder="Website" id="inputemail" class="form-control">
                                </div>
                                <div class="form-group">
                                    <textarea placeholder="Comment" name="Comment" id="message" class="form-control"></textarea>
                                </div>
                                <div class="box text-center"> <a title="add tags" href="#" class="link-v1 rt lh-50">Send message</a> </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
         $(document).ready(function () {

             $('img').on('dragstart', function (event) { event.preventDefault(); });

             // wow js
             new WOW().init();
         });

    </script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="~/assets/js/engo-plugins.js"></script>
    <script type="text/javascript" src="~/assets/js/store.js"></script>
</body>
</html>