
@{
    ViewBag.Title = "myProfile";
}

<h2>myProfile</h2>

<div class="container">
    <div class="row">
        <div class="sidebarmenu">
            <span><i class="fa fa-bars"></i>Menu</span>
        </div>
        <aside class="col-xs-12 col-sm-4 col-md-3 col-lg-3 sidebar">
            <h1>
                My Profile Settings
            </h1>
            <nav>
                <ul id="nav">
                    <li>
                        <a href="ViewProfile.aspx" onclick="javascript:window.location=this.href">My Profile</a>
                    </li>
                    <li>
                        <a id="anchwelcome" runat="server" href="WelcomeLetter.aspx" onclick="javascript:window.location=this.href">
                            Welcome Letter
                        </a>
                    </li>
                    <li>
                        <a href="UploadKYC.aspx" onclick="javascript:window.location=this.href">Upload KYC</a>
                    </li>
                    <li>
                        <a href="UploadMyPIC.aspx" onclick="javascript:window.location=this.href">
                            Upload
                            Photo
                        </a>
                    </li>
                    <li>
                        <a href="Chgpassword.aspx" onclick="javascript:window.location=this.href">
                            Reset
                            Password
                        </a>
                    </li>
                    <li>
                        <a href="ChgTpassword.aspx" onclick="javascript:window.location=this.href">
                            Reset
                            Tran Password
                        </a>
                    </li>
                    <li>
                        <a id="lnkDistStatus" href="UploadDistribution.aspx" runat="server" onclick="javascript:window.location=this.href">
                            <asp:Label ID="lbllinkdistStatus" runat="server"></asp:Label>
                        </a>
                    </li>
                    <li><a href="MyDownlineIdStatistics.aspx" onclick="javascript:window.location=this.href">My Downline ID Statistics</a> </li>
                    <li><a href="IDCard.aspx" onclick="javascript:window.location=this.href">ID Card</a> </li>
                </ul>
            </nav>
        </aside>

        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 right-content">
            <div class="row">
                <div class="col-md-12 top-heading">
                    <h1>
                        <label ID="lblHeader" runat="server" Font-Bold="true" Text="Show Profile"></label>
                        @*<asp:LinkButton runat="server" ID="LinkButton1" CssClass="btn btn-danger btn-sm pull-right"
                            Text="Edit Profile" OnClientClick="EditProfile();"></asp:LinkButton>*@
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <h6 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#divSprinfo">
                                    Sponsor Information
                                    <span class="inputLabel glyphicon glyphicon-chevron-down"></span>
                                </a>
                            </h6>
                            <div id="divSprinfo" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6  form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Sponsor ID
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblprvsprno" runat="server" Text="SponsorID"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6  form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Sponsor Name
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblprvsprname" runat="server" Text="Sponsor Name"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <h6 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#divPersonalinfo">
                                    Personal
                                    Information <span class="inputLabel glyphicon glyphicon-chevron-down"></span>
                                </a>
                            </h6>
                            <div id="divPersonalinfo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Name
                                                </label>
                                                <label class="col-md-1 control-label ">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblname" runat="server"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Distributor ID
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblUserId" runat="server" Text="Gender"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Maiden
                                                </label>
                                                <label class="col-md-1 control-label ">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblmaiden" runat="server" Text="Name"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Maiden Name
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblmaidenname" runat="server" Text="Name"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Gender
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblgender" runat="server" Text="Gender"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Date Of Birth
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lbldob" runat="server" Text="Year"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Marital Status
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblstatus" runat="server" Text="MaritalStatus"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Address
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lbladd" runat="server" Text="Address"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Location
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lbllocation" runat="server" Text="Location"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    State
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblstate" runat="server" Text="State"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    District
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lbldist" runat="server" Text="District"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    City
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblcity" runat="server" Text="City"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Pin Code
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-5 control-label">
                                                    <asp:Label ID="lblpincode" runat="server" Text="Pincode"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Mobile No.
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblmobile" runat="server" Text="Mobile"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Correspondence Adress
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblcoradd" runat="server" Text="CorAddress"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Correspondence State
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblcorstate" runat="server" Text="CorState"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Correspondence District
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblcordist" runat="server" Text="CorDistrict"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Correspondence City
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblcorcity" runat="server" Text="CorCity"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Correspondence Pin Code
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-5 control-label">
                                                    <asp:Label ID="lblcorpin" runat="server" Text="CorPincode"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    GST NO
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-5 control-label">
                                                    <asp:Label ID="lblGSTNO" runat="server" Text="GSTNO"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Email ID
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblemail" runat="server" Text="EmailID"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    LandLine No.
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lbllandline" runat="server" Text="Landline"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <h6 class="panel-title Headtext">
                                <a data-toggle="collapse" data-parent="#accordion" href="#divbankinfo">
                                    Bank Information
                                    <span class="inputLabel glyphicon glyphicon-chevron-down"></span>
                                </a>
                            </h6>
                            <div id="divbankinfo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Payee Name
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblpayeename" runat="server"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Bank Name
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblbnkname" runat="server" Text="BankName"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Branch Name
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblbranch" runat="server" Text="Branch"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    IFSC Code
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblIFSC" runat="server" Text="Ifsccode"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Account No
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblaccno" runat="server" Text="AccountNo"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Pan No
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblpanno" runat="server" Text="PanNo"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <h6 class="panel-title Headtext">
                                <a data-toggle="collapse" data-parent="#accordion" href="#divnomineeinfo">
                                    Nominee Information
                                    <span class="inputLabel glyphicon glyphicon-chevron-down"></span>
                                </a>
                            </h6>
                            <div id="divnomineeinfo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Nominee Name
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblcoapplname" runat="server" Text="COappname"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Relationship
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblcoapprel" runat="server" Text="Coapplrelation"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Nominee DOB
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblCoAppDOB" runat="server" Text="COappDOB"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group" style="display: none;">
                                            <div class="row">
                                                <label class="col-md-5 control-label">
                                                    Nominee Age
                                                </label>
                                                <label class="col-md-1 control-label">
                                                    :
                                                </label>
                                                <div class="col-md-6">
                                                    <asp:Label ID="lblNomineeAge" runat="server"></asp:Label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>