
@{
    ViewBag.Title = "Own a SARSO Merchandise Bank";
}

<div class="container-fluid container-fluid0">
    <div class="tp-banner-container hidden-dot ver2">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/images/pagebanner/signin.jpg" alt="Sign In" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 9 -->

                    <div class="tp-caption color-white customin randomrotateout font-play tp-resizeme size-60"
                         data-x="750"
                         data-y="470"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="500"
                         data-start="2000"
                         data-easing="Power4.easeOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         style="z-index: 3">REGISTER</div>
                    <div class="tp-caption color-white weight-300 letter-spacing-5 skewfromleft customout size-30"
                         data-x="795"
                         data-y="520"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="800"
                         data-start="1600"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">WITH SARSO</div>

                </li>
            </ul>
        </div>
    </div>
    <!-- End container -->
</div>

<div class="container-fluid">
    <div class="col-md-7 center-block float-none space-padding-tb-100">
        <h3 class="title-v2 text-center">Let’s Begin!</h3>
        <h3 class="title-v3 text-center">Shop – Refer – Sell</h3>
        <p class="text-justify">
            Thank you for choosing SARSO! We are glad to have you here. You are just a few clicks away from a fantastic shopping experience of products that push you close to a healthy lifestyle, are value for money and meant to be used by everyone in a family. You can Sign Up as a customer and enjoy a great shopping experience. Choose from products across wellness, skin care, hair care, food & nutrition, clothing, footwear, fashion accessories and more.<br>
            <br>

            You can also opt for our Free Distributorship Opportunity to join a flourishing Direct Selling industry that provides equal opportunity to all genders. Without any investment and time constraints, you can retail our products to enjoy a decent markup, recommend them to others and generate income calculated as per a rewarding compensation model. With us, you do not only make money but also get exposure to electrifying events, avail learning opportunities from industry veterans and groom yourself.
        </p>


    </div>
</div>


<section class="space-80 space-padding-tb-40">
    <h3 class="title-v2 text-center" style="color:#dac5ac; text-transform:uppercase; font-size:45px; margin-bottom:1px;">There are Two Ways to Sign Up</h3>
    <div class="container bg2">
        <div class="col-md-2"></div>
        <div class="col-md-4 space-padding-tb-40 text-center">
            <img src="~/assets/images/sign1.png" alt="" class="img-responsive">
            <h3 class="title-v2 text-center" style="color:#373737; font-size:15px; line-height:20px;">
                You know a SARSO <br>
                Business Owner &amp; have their Distributor ID.
            </h3>
            <div class="box space-padding-tb-20"> <a class="link-v1 lh-20" href="/Account/Register" title="Read More">SIGN UP</a> </div>
        </div>
        <div class="col-md-4 space-padding-tb-40 text-center">
            <img src="~/assets/images/sign2.png" alt="" class="img-responsive">
            <h3 class="title-v2 text-center" style="color:#373737; font-size:15px; line-height:20px;">
                You don’t know a <br>
                SARSO Business Owner.
            </h3>
            <div class="box space-padding-tb-20"> <a class="link-v1 lh-20" href="#" title="Read More">SIGN UP</a> </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</section>


<!-- End container -->

<section>
    <div class="container space-30 benefits">
        <div class="col-md-1"></div>
        <div class="col-md-6 pad40"><img src="~/assets/images/sign-in1.png" alt="Sign-In" class="img-responsive"></div>
        <div class="col-md-4 space-padding-tb-100">
            <h3 class="title-v2 text-left">
                Extra Benefits for a<br>
                SARSO Business Owner (SBO)
            </h3>
            <ul style="list-style:disc;">
                <li>Start your own business.</li>
                <li>Join an emerging network of Distributors from all parts of the country. </li>
                <li>Build your own team and lead it to an infinite level of growth. </li>
                <li>Earn income based on your efforts.</li>
                <li>Commit full time or part time.</li>
                <li>Get supported by leaders. </li>
                <li>Avail training to be industry ready.</li>
            </ul>
            <div class="box space-padding-tb-30"> <a class="link-v1 lh-20" href="#" title="Read More">SIGN UP</a> </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</section>



