@model IEnumerable<SarsoShoppingData.rpcategory>
<div class="sub-menu dropdown-menu">
    <ul class="menu-level-1">

        @{var Categories = Model.OrderBy(r => r.sorting).Select(r => r.Category).Distinct().ToList();}
      @foreach (var cat in Categories)
      {
          var subcatList = Model.OrderBy(r=>r.SubCategory).Where(r => r.Category == cat).Select(r => r.SubCategory).Distinct().ToList();
        <li class="level2">
            <a href="~/Home/ProductList?Category=@cat">@cat</a>
            <ul class="menu-level-2">
                @foreach (var subcat in subcatList)
                {
                    <li class="level3"><a href="~/Home/ProductList?Category=@cat&Category1=@subcat" title="@subcat">@subcat</a></li>
                }
             </ul>
        </li>
      }
    </ul>
</div>
