<div class="container-fluid container-fluid0">
    <div class="tp-banner-container hidden-dot ver2">
        <div class="tp-banner">
            <ul>

                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/images/pagebanner/about-us.jpg" alt="About us" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption color-white customin randomrotateout font-play tp-resizeme size-60"
                         data-x="750"
                         data-y="400"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="500"
                         data-start="2000"
                         data-easing="Power4.easeOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         style="z-index: 3">
                        ABOUT US
                    </div>


                </li>
            </ul>
        </div>
    </div>
    <!-- End container -->
</div>
<div class="container-fluid">
    <div class="col-md-5 center-block float-none space-padding-tb-80">
        <h3 class="title-v2 text-center">Expanding Entrepreneurship in the Country</h3>

        <p class="text-justify">Any major movement in a country rests in the hands of its youth. Thus, we have come forward to make them self-reliant by providing our plug and play sales platform which can be utilized to start a business without any cost. For nearly a decade, we have been successfully giving an entrepreneurial direction to people. Operating through Direct Selling model, we defy business confinement to brick-and-mortar spaces and enable people work within their own space and time. </p>
    </div>
</div>
<section class="bg1 space-100">
    <div class="container bg2">
        <div class="col-md-1"></div>
        <div class="col-md-5 brand-text">
            <h3 class="title-v2 text-left">
                Underlining the Importance<br>
                of Health &amp; Inner Wellbeing
            </h3>
            <p class="text-justify">We are working with a holistic approach to restore wellness in India through our flagship brand Swadharma and its valuable product range. We aim at creating awareness around health and inner wellbeing through a rich education system that connects people to Indian Ancient Wisdom and makes them familiar with deeper aspects of this machinery called human body. Supporting this notion, we have a natural, non-toxic and chemical-free range of lifestyle products that reduce consumer exposure to chemicals and thus bring a welcome change in their health. Our wellness range involves natural and vegetarian products based on the principles of Ayurveda and Indian Ancient Wisdom which are good for health restoration and fostering immunity.  </p>

        </div>
        <div class="col-md-6 pad60"><img src="~/assets/images/about1.jpg" alt="entrepreneur" class="img-responsive"></div>

    </div>
</section>
<section>
    <div class="container">
        <div class="col-md-6 pad50"><img src="~/assets/images/about2.jpg" alt="Clothing" class="img-responsive"></div>
        <div class="col-md-5 brand-text">
            <h3 class="title-v2 text-left">
                Making People <br>
                Conscious of What They Wear
            </h3>
            <p class="text-justify">We are on the edge of introducing a clothing line made of natural fibers that are produced by plants, inspiring conscious fashion in the country. This is in sync with our mission to reduce pollution on the planet and promote conscious consumerism. The fast fashion industry worldwide accounts for 10% of global carbon emissions and polyester produce alone consumes 70 million barrels of oil every year. These clothes eventually end up in a landfill, taking a zillion years to perish and in this process, they litter the planet. Our clothing line will be based on cotton fibers which are made from cotton plant. The fabric made out of them feels lightweight, soft, easy on the skin and a good absorbent of sweat quite pertinent to the hot and humid climate of India. </p>

        </div>

        <div class="col-md-1"></div>
    </div>
</section>
<div class="container space-50">
    <div class="col-md-6 text-center pad60">

        <h3 class="title-v2">Our Vision</h3>
        <p>To empower youth with self-employment and inspire them to embrace a healthier &amp; spiritually evolved lifestyle.</p>
    </div>
    <div class="col-md-6 text-center pad60">

        <h3 class="title-v2">Our Mission</h3>
        <p>To be a leading Direct Selling organization realigning country’s health and lifestyle ecosystem through a unique product range that leverages Indian Ancient Wisdom and is driven through modern technology.</p>
    </div>
</div>
<section class="bg2 pad100">
    <div class="container bg3 padding-left-0 padding-right-0">
        <div class="col-md-6 brand-img text-right"><img src="~/assets/images/about3.jpg" alt="Business Platform" class="img-responsive"></div>
        <div class="col-md-6 brand-text">
            <div class="pad10">
                <h3 class="title-v2 text-left" style="color:#373737;">A Plug &amp; Play Business Platform</h3>
                <p class="text-justify">Run your own business without any upfront investment. Avoid the hassle of establishing an office space and arranging massive amounts of capital. Simply contact us and begin your SARSO Business journey anytime anywhere. Recommend and sell our high-quality lifestyle and wellness products to get incentivized as per industry’s most rewarding compensation model.</p>

            </div>
        </div>
    </div>
</section>



<!-- End container -->







<div class="container-fluid0 container-ver2">
    <div class="newsletter-home4" style="background:#b0ada4;">
        <div class="container ">
            <div class="row pad40">
                <div class="col-md-12 col-sm-12 wrap-center float-left">
                    <div class="items col-md-8">
                        <div class="text">
                            <h3 style="color:#fff; letter-spacing:4px;">Build a Rewarding Business with Us.</h3>
                        </div>
                        <div class="wrap-form">
                            <button class="button1 hover-white enquiry" title="Get in Touch" type="submit" data-toggle="modal" data-target=".get-in-touch" style="background:#fff; color:#373737;">Get in Touch</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End row -->
    </div>
</div>


<div class="modal fade wow zoomIn get-in-touch" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg popup-search">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
            <div class="modal-body">
                <div class="input-group">
                    <div class="content-text center">
                        <h3 style="text-transform: none">Get in Touch</h3>
                        <form class="form-horizontal space-50">
                            <div class="form-group col-md-6">
                                <input type="text" placeholder="Name*" id="inputName" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" placeholder="Email*" id="inputsumary" class="form-control">
                            </div>
                            <div class="form-group col-md-12">
                                <input type="text" placeholder="Website" id="inputemail" class="form-control">
                            </div>
                            <div class="form-group">
                                <textarea placeholder="Comment" name="Comment" id="message" class="form-control"></textarea>
                            </div>
                            <div class="box text-center"> <a title="add tags" href="#" class="link-v1 rt lh-50">Send message</a> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 