

<div class="container-fluid container-fluid0">
    <div class="tp-banner-container hidden-dot ver3">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/images/pagebanner/category-banner.jpg" alt="Category Banner" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 9 -->

                    <div class="tp-caption color-white customin randomrotateout font-play tp-resizeme size-60"
                         data-x="800"
                         data-y="230"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="500"
                         data-start="2000"
                         data-easing="Power4.easeOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         style="z-index: 3">Blog</div>
                </li>
            </ul>
        </div>
    </div>
    <!-- End container -->
</div>
<!-- End Banner Grid -->
<!-- End Banner Grid -->
<div class="main-content">

    <div class="container container-ver2 space-padding-tb-30">
    </div>
    <!-- End container -->
    <div class="cart-box-container check-out">
        <div class="container container-ver2">
            <div class="row">

                <div class="col-md-6 space-30 space-padding-tb-30 pad40">
                     <img style="width:85%;" class="primary_image" src="~/assets/images/5-tips.png" alt="" /> 

                        
                    </div>
                
                <div class="col-md-6">
                    
                        <div class="margin-top-60 space-20 text-center">
                            <H3>  5 TIPS TO BE A DIRECT SELLING CHAMPION</H3>
                            <H6>Posted On : June 12, 2020</H6>
                                <br><p style="text-align:center;">  Direct selling – the most viable way to start a business without an investment. Hailed for its flexibility, a direct selling business with Swadharma can be started from home without any hassle or prerequisites...</p>
</div>
                         
                        
                        <a class="link-v1 box lh-50 rt full" href="~/Home/five_tips_to_be_a_direct_selling_champion" title="CLICK HERE">Read More</a>



                   
                </div>


            </div>
            <!-- End row -->
        </div>
        <!-- End container -->
    </div>
    <!-- End cat-box-container -->
</div>
<!-- end product sidebar -->

<div class="container brand-logos space-30 space-padding-tb-100">
    @{Html.RenderPartial("~/Views/Shared/_BrandLogo.cshtml");   }
</div>

