<div class="container-fluid container-fluid0">
    <div class="tp-banner-container hidden-dot ver3">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/images/pagebanner/contact.jpg" alt="Conatct us" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption color-white customin randomrotateout font-play tp-resizeme size-50"
                         data-x="650"
                         data-y="260"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="500"
                         data-start="2000"
                         data-easing="Power4.easeOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         style="z-index: 3">
                        We’d love to hear from you
                    </div>

                </li>
            </ul>
        </div>
    </div>
    <!-- End container -->
</div>
<div class="container-fluid">
    <div class="col-md-7 center-block float-none space-padding-tb-100">
        <p class="text-justify">
            Contacting us is easy. If you are looking for anything in particular, we are just a call or email away. Feel free to get in touch and we shall get right back to you. <span style="font-size:14px;">
                Disclaimer: We don’t promise quick-fire rewards. Earnings are based on efforts and sales,
                which are calculated as per a well-defined compensation model.
            </span>
        </p>
    </div>
</div>
<section class="space-padding-tb-80 bg7 space-80">
    <div class="container">
        <div class="col-md-4 space-padding-tb-40 text-left pad50">
            <h3 class="title-v2">
                For General Queries<br>
                &nbsp;
            </h3>
            <p>
                <strong>Call:</strong> +91 – 7290084343<br>
                <strong>Email:</strong> support@sarsomail.net <br>
                <strong>Timings:</strong> 11:00 AM – 6:00 PM (Monday to Friday)
            </p>
        </div>
        <div class="col-md-4 space-padding-tb-40 text-left pad50">
            <h3 class="title-v2">For Queries Related to Becoming an MBO</h3>
            <p>
                <strong>Call or WhatsApp:</strong> +91 – 7290084342<br>
                <strong>Email:</strong> support@sarsomail.net <br>
                <strong>Timings:</strong> 11:00 AM – 6:00 PM (Monday to Friday)
            </p>
        </div>
        <div class="col-md-4 space-padding-tb-40 text-left pad50">
            <h3 class="title-v2">
                When you Need to <br>
                Meet Us in Person
            </h3>
            <p>
                <strong>Corporate Office:</strong><br>
                Plot No.107, Chattar Singh House, <br>
                Near Bagwani Nursary, Jonapur, <br>
                Near Chhattarpur, New Delhi – 110047.
            </p>
        </div>
    </div>
</section>

<!-- End container -->

<div class="container brand-logos space-70">
    @{Html.RenderPartial("~/Views/Shared/_BrandLogo.cshtml");   }
       
</div>