<div class="container-fluid container-fluid0">
    <div class="tp-banner-container hidden-dot ver3">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/images/pagebanner/faq.jpg" alt="Sootram" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 9 -->




                </li>
            </ul>
        </div>
    </div>
    <!-- End container -->
</div>
<div class="container space-padding-tb-80">
    <div class="col-md-10 center-block float-none">
        <div class="accordion box space-100">
            <!-- Accordion v2 -->
            <div class="accordion accordion-v2">
                <div class="panel-group" id="accordion-v2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-One" aria-expanded="true" class="">
                                    1.	What is SARSO?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-One" class="panel-collapse active collapse in">
                            <div class="panel-body">
                                SARSO is the leading organization in the Network Marketing Industry in India. Established in 2011, SARSO adheres to the principle of Sharing Achievements and Rejuvenating Society. It is committed not only to introduce a diverse collection of quality products but also inculcate a culture of entrepreneurship amongst the young minds.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-Two" aria-expanded="false">
                                    2. Who is a SARSO customer?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-Two" class="panel-collapse collapse">
                            <div class="panel-body">
                                Any buyer who purchases a SARSO merchandise from our website under the sponsorship of SARSO Distributor or purchases a SARSO merchandise directly from the SARSO Distributor is termed as SARSO Customer.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-Three" aria-expanded="false">
                                    3.	Who is a SARSO registered customer?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-Three" class="panel-collapse collapse">
                            <div class="panel-body">
                                Any buyer who wishes to make a purchase from SARSO website under the sponsorship of a distributor and furnishes all their details on the website including address proof, ID proof, PAN details and bank details is called a registered customer.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-Four" aria-expanded="false">
                                    4.	Why do SARSO products have CV points?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-Four" class="panel-collapse collapse">
                            <div class="panel-body">
                                The CV points are used to calculate incentives under SICP (SARSO Imperial Career Plan).
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-5" aria-expanded="false">
                                    5.	Is it necessary to follow legal (terms and conditions) and other information given on the website www.sarsobiz.net?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-5" class="panel-collapse collapse">
                            <div class="panel-body">
                                Yes, it is necessary to follow all the legal clauses including but not limited to Terms and Conditions, FAQs and the Distributorship Contract as given on the website and on the Distributors’ panel.
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-6" aria-expanded="false">
                                    6.	Is there any change possible in the username on the website?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-6" class="panel-collapse collapse">
                            <div class="panel-body">
                                The username cannot be changed once the registration process is complete.
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-7" aria-expanded="false">
                                    7.	How do I raise request if I need to make any changes in my shipping address, registered mobile number, registered email id, etc.?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-7" class="panel-collapse collapse">
                            <div class="panel-body">
                                You need to raise a ticket to the support team via our Advanced Ticketing System through your dashboard (distributor’s panel). Our customer support team shall get in touch with you and assist you in the matter.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-8" aria-expanded="false">
                                    8.	How can I retrieve my login password for sarsobiz.net in case I have forgotten it?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-8" class="panel-collapse collapse">
                            <div class="panel-body">
                                If you have forgotten the password of your SARSO ID, you need to simply click on “Forgot Password” option, fill in the necessary details and your new password shall be generated and sent to your registered email Id.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-9" aria-expanded="false">
                                    9.	How do I know the dispatch status of my product?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-9" class="panel-collapse collapse">
                            <div class="panel-body">
                                We dispatch products within 24 hours after the payment has been confirmed. Any delay in dispatching will be just because of some unavoidable circumstances. You will receive an email from the support team providing courier details whenever it gets dispatched. You can also access the same details in your dashboard (Distributors’ Panel) on www.sarsobiz.net.
                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-10" aria-expanded="false">
                                    10.	I selected wrong product while placing the order. Can I change it?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-10" class="panel-collapse collapse">
                            <div class="panel-body">
                                In case you placed an order for a wrong product, you must first inform the company about the same within 24 hours and place a cancellation request within the same timeframe. You must also place the order again and inform the company about new product you have chosen.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-11" aria-expanded="false">
                                    11.	What is Refund Policy?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-11" class="panel-collapse collapse">
                            <div class="panel-body">
                                <b>Refund Policy</b>
                                All products are covered under SARSO Refund Policy. If the customer is not completely satisfied, he/she can request for order cancellation within 30 days from the date of order placement and can ask for refund. The application for refund will be accepted on receipt of an online request submitted on customer/distributor panel within the stipulated time period. The request should be accompanied with the submission of a handwritten application for refund and photo identity proof on the same ticket. Please note that the cancellation/refund requests will only be entertained till 5:00 PM of the last day of stipulated time period of 30 days. The company will deduct Rs. 100 + 20% from the total amount of order in case of consumable products or Rs. 100 only in case of non-consumable products when they have been dispatched. <b>When products have not been dispatched, the customer will get refund for the entire order amount.</b> In order to get the refund processed for non-consumable products, a customer is required to return all products unopened, undamaged and in sealed condition. The refund will be processed only in the bank account of the customer on whose name the order is being placed. Once the company receives all products and documents at its end, the same will be verified. Post verification, the refund of the order amount will either be made in their e-wallet account or transferred to the customer’s bank account as per their request. The refund amount will be transferred to their bank account within 7 working days.

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-12" aria-expanded="false">
                                    12.	I have received the product, but it is in tampered /damaged condition?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-12" class="panel-collapse collapse">
                            <div class="panel-body">
                                Our logistics team does proper “Quality Check” of the product and its packaging before dispatching. Yet, in rarest of the rare situation, if the product packaging is tampered on the way, there is a clear instruction on the parcel - not to accept the same from the courier company and return the same there and then.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-13" aria-expanded="false">
                                    13.	Is there any warranty/guarantee of a promotional offer free product, I received as gift?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-13" class="panel-collapse collapse">
                            <div class="panel-body">
                                Our logistics team does proper “Quality Check” of the product and its packaging before dispatching. Yet, in rarest of the rare situation, if the product packaging is tampered on the way, there is a clear instruction on the parcel - not to accept the same from the courier company and return the same there and then.
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-14" aria-expanded="false">
                                    14.	I feel misguided by a SARSO distributor / SBO and want refund for the product I purchased. What should I do?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-14" class="panel-collapse collapse">
                            <div class="panel-body">
                                Once you get product demonstration or presentation by any SARSO Distributor, it is your duty to verify all details with our website www.sarsobiz.net by yourself. You must go through our “Terms and Conditions “and FAQs properly before purchasing our product. You should place the order only after getting complete satisfaction with our product. It should be noted that company is not responsible for any kind of false commitment/information made/provided by any SBO. However, if you still feel cheated or misguided, and you want your money back then you can submit a cancellation request and the company will refund the amount as per its Refund Policy.
                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-15" aria-expanded="false">
                                    15.	My password and other details are disclosed while filling details in online order form. What should I do now?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-15" class="panel-collapse collapse">
                            <div class="panel-body">
                                You are suggested to change all the confidential information like password etc. immediately.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-16" aria-expanded="false">
                                    16.	I was not at home when courier boy came to deliver my product. So, it got returned to SARSO office. Do I need to pay some extra charges to get my product dispatched again?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-16" class="panel-collapse collapse">
                            <div class="panel-body">
                                If the same got returned due to wrong / incomplete address or your non-availability at your registered address, you need to pay shipping charges in order to get your product dispatched again.
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-17" aria-expanded="false">
                                    17.	How do I return a product to sarsobiz.net?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-17" class="panel-collapse collapse">
                            <div class="panel-body">
                                Once you are sure you want to return the item, you can contact our customer support to initiate the return. Once the return has been authorized, you can pick your own courier service provider, and have it shipped. "The product should be returned at our Delhi Office at the following address SARSO BIZNET International Pvt Ltd.. Corporate Office: Plot No.107, Chattar Singh House, Near Bagwani Nursary, Jonapur, Near Chhattarpur, New Delhi-110047. No other address will be entertained.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-18" aria-expanded="false">
                                    18.	What will happen if I remain unable to fulfill my annual repurchase criteria?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-18" class="panel-collapse collapse">
                            <div class="panel-body">
                                If you have not fulfilled your annual repurchase criteria, your Distributorship will stand cancelled. The benefit of sales made after the cancellation of your Distributorship will not be given. Only those sales will benefit you which have been made when you had an active status as a Distributor.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-19" aria-expanded="false">
                                    19.	Will I be benefitted for the sales made without submission of distributorship application form at SARSO’s head office?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-19" class="panel-collapse collapse">
                            <div class="panel-body">
                                Your request to become a Distributor is confirmed only after the receipt of your online request for Distributorship. Therefore, the sales made prior to the submission of request for Distributorship will not be counted for compensation.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-20" aria-expanded="false">
                                    20.	If I have only made an online application for distributorship, will I be considered as a SARSO distributor?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-20" class="panel-collapse collapse">
                            <div class="panel-body">
                                In order to be a SARSO Distributor, you are required to submit application for Distributorship online along with the submission of relevant KYC documents. The same will be verified by the company. Post verification and its acceptance, you will become a SARSO Distributor.
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-21" aria-expanded="false">
                                    21.	Within what time period am I supposed to use my shopping wallet balance?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-21" class="panel-collapse collapse">
                            <div class="panel-body">
                                Your shopping wallet balance is completely safe with us and you have the liberty to shop any product(s) from www.sarsobiz.net using the same. However, the purchase needs to be made within one month (30 days) from the date of transfer of balance in your shopping wallet. Else, the company will bill/ship an assortment of products of its choice against the remaining /leftover/unused balance in the shopping wallet. <br>
                                <br>
                                Note: Auto shipment of products will take place against a minimum balance of Rs.2500.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-22" aria-expanded="false">
                                    22.	I am making an online payment through Paytm. However, it is not going through. what can be the reason behind it?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-22" class="panel-collapse collapse">
                            <div class="panel-body">
                                The completion of a payment can be hampered due to the following reasons:<br>
                                1.	If you have used special characters while filling the address.<br>
                                2.	If the same information is being used with multiple credit / debit cards. This information can be repetition of name, address, city, state, e-mail address, contact number, postal code, etc. These are the common reasons for payment failure. Avoid these while making the payment for successful completion of payment.<br>
                                3.	You may come across other reasons of payment failure written below the error which is displayed when the payment fails to go through.

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-23" aria-expanded="false">
                                    23.	What is invoice amount?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-7" class="panel-collapse collapse">
                            <div class="panel-body">
                                Invoice amount is the net payable amount of an order post discounts on the distributors’ price.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-24" aria-expanded="false">
                                    24.	Does the company take responsibility if I remain unable to get my PAN updated (resulting in deduction of 20% amount from the commission)?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-24" class="panel-collapse collapse">
                            <div class="panel-body">
                                It is Distributors’ responsibility to update clear scanned image of their PAN card on their dashboard (distributor’s panel). Alternatively, they can send a soft copy of their PAN card through an e-mail at support@sarsomail.net and request the company to update the same. The company takes full responsibility to update Distributors’ PAN once they submit it. The company pays TDS to the government every month, therefore if a Distributor does not have their PAN updated, it will lead to 20% deduction from their commission as per the norms.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-25" aria-expanded="false">
                                    25.	I had an active status as a Distributor till March 2020. After that due to non-adherence to my monthly repurchase criteria, my status has been shifted to customer. Now, I have applied for distributorship again. Will I get benefitted for the previous sales I have made?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-25" class="panel-collapse collapse">
                            <div class="panel-body">
                                You can get compensated only if you maintain active status as a Distributor which is first possible with successful submission of KYC and then through timely fulfillment of monthly repurchase criteria as per your rank.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-26" aria-expanded="false">
                                    26.	If any delivery boy comes to deliver my product/parcel and he tells me that I need to pay extra amount for octroi. Do I need to pay the amount to get my product/parcel?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-26" class="panel-collapse collapse">
                            <div class="panel-body">
                                The octroi charges are applicable on some particular cities/states and it does not include in the product cost. Therefore, the customer has to pay them in order to get the parcel.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-27" aria-expanded="false">
                                    27.	I had purchased a product 6 months back, but I didn’t receive it yet. What can I do now?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-27" class="panel-collapse collapse">
                            <div class="panel-body">
                                Once your product has been dispatched from our end, any discrepancy should be intimated within 7-10 working days. We can only track the status of last 45 days of any parcel/courier. Once the time period to inform us about the same has exceeded then the company is not responsible.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-28" aria-expanded="false">
                                    28.	KYC Details
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-28" class="panel-collapse collapse">
                            <div class="panel-body">
                                <strong> Question 1: Why do I have to submit KYC details?</strong><br>
                                Answer:  As per the Direct Selling Guidelines by the Government Clause 3 Point 3, it is mandatory for you to submit your KYC details to us under any and all circumstances.<br>
                                <br>

                                <strong>Question 2: When do I submit my KYC details?</strong><br>
                                Answer: You need to submit your KYC details within 30 days of the date of registration.<br>
                                <br>
                                <strong>Question 3: How do I submit my KYC details?</strong><br>
                                Answer: You need to go to “My Profile” in the panel. Click on “Upload KYC” and upload your Bank Details, PAN Details and Address Proof.<br>
                                <br>

                                <strong>Question 4:  Is it compulsory to submit KYC details?</strong><br>
                                Answer:  Yes. Until we receive your KYC details, we shall not be able to release your commission under any circumstances.

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-29" aria-expanded="false">
                                    29.	Product cancellation
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-29" class="panel-collapse collapse">
                            <div class="panel-body">
                                <strong>1. When can I cancel my order?</strong><br>
                                Ans.  You can cancel your order within 30 days of placing the order.<br>
                                <br>
                                <strong>2. Can I cancel my order after 30 days of placing the order? </strong><br>
                                Ans. The cancellation request submitted after the stipulated timeframe of 30 days cannot be entertained under any circumstances. <br>
                                <br>
                                <strong> 3. How do I raise request for cancellation?</strong><br>
                                Ans. You need to send us an email stating the same only from your registered email id. Additionally, we encourage you to raise this request from the Customer Service Panel on your Dashboard. <br>
                                <br>
                                <strong>4. Do I receive my entire amount as refund after cancellation?</strong><br>
                                Ans. There is a deduction of Rs. 100 as cancellation fee for non-consumable products. In case of consumable products, if the packaging is found to be tampered with, SARSO deducts Rs. 100 + 20% of the product price as per invoice. The cancellation fee includes Administrative Charges which are incurred by us. These charges are non-negotiable and cannot be changed. <br>
                                <br>
                                <strong>5. How soon is my refund processed?</strong><br>
                                Ans. SARSO aims accuracy in every task. Hence, after we receive the product in due time, we process the refund within 1 to 7 business days and transfer it to your SARSO E-wallet. You are requested to be patient and cooperate with us during this time period.<br>
                                <br>
                                <strong>6. How many days do I get to send back my product?</strong><br>
                                Ans. You need to send us the product immediately. Any delay from your side shall automatically lead to a delay in refund process.<br>
                                <br>
                                <strong>7. How can I use my SARSO E-Wallet money?</strong><br>
                                Ans. We encourage you to use the amount that has been refunded in your SARSO E-Wallet for repurchase of valuable products.<br>
                                <br>
                                <strong>8. Can I transfer SARSO E-Wallet money to my bank account?</strong><br>
                                Ans. SARSO always attempts to ensure maximum comfort for its customers. Hence, we do provide the option to transfer money to your bank account from the e-wallet.

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-30" aria-expanded="false">
                                    30.	If my commission through SICP of an amount Rs. 200 or less is generated, will it get transferred to my bank account?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-30" class="panel-collapse collapse">
                            <div class="panel-body">
                                No, commission through SICP of amount Rs. 200 or less will be transferred to your e-wallet only.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-31" aria-expanded="false">
                                    31.	Can I claim the benefits occurring out of my Distributorship after I have stopped working as a SARSO Distributor?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-31" class="panel-collapse collapse">
                            <div class="panel-body">
                                Once you stop working as a SARSO Distributor, your Distributorship Contract will be cancelled. Post cancellation, you will no longer be able to claim any previous benefits occurring out of your SARSO Distributorship.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-32" aria-expanded="false">
                                    32.	If I don’t have Indian residential proof, can I still avail myself of SARSO Distributorship Opportunity or any other benefits accompanied with the purchase of SARSO products?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-32" class="panel-collapse collapse">
                            <div class="panel-body">
                                Any benefits accompanied with the purchase of SARSO products or SARSO Distributorship opportunity can be availed only by Indian residents upon submission of a valid Photo Id proof.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Accordion v2 -->
            <!-- End share -->
        </div>
    </div>
</div>
