<div class="container-fluid container-fluid0">
    <div class="tp-banner-container hidden-dot ver3">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/images/pagebanner/digitalwallet.jpg" alt="How do I pay" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 9 -->

                    <div class="tp-caption color-white customin randomrotateout font-play tp-resizeme size-50"
                         data-x="610"
                         data-y="260"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="500"
                         data-start="2000"
                         data-easing="Power4.easeOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         style="z-index: 3">
                        How Do I Pay for My Order?
                    </div>


                </li>
            </ul>
        </div>
    </div>
    <!-- End container -->
</div>
<div class="container-fluid">
    <div class="col-md-7 center-block float-none space-padding-tb-80">
        <h3 class="title-v2 text-center">We Support Digital India</h3>

        <p class="text-justify">We provide choices, convenience and secured payment options to our customers. At sarsobiz.net, you can shop with confidence knowing that your payments are always secured. In line with the ‘Digital India’ movement, all of our payment options are digital. So, you can place your order anytime and anywhere.</p>
    </div>
</div>
<div class="container-fluid space-padding-tb-80 bg7 space-100">
    <div class="col-md-10 center-block float-none">
        <h3 class="title-v2 text-center">Payment Gateways</h3>
        <h3 class="title-v3 text-center">We accept payments through two payment gateways </h3>
        <div class="col-md-6 text-right margin-top-10"><img src="~/assets/images/paytm.jpg" alt="PAYTM" class="img-responsive" /></div>
        <div class="col-md-6 text-left margin-top-10"><img src="~/assets/images/cashfree_logo.jpg" alt="Cash Free" class="img-responsive" /></div>
        <div class="clearfix space-padding-20"></div>
        <p>. You reach them through a few simple steps followed in the process of shopping of our valuable products. We accept all the major Credit &amp; Debit Cards.</p>

    </div>
</div>

<section>
    <div class="container space-100">
        <div class="col-md-1"></div>
        <div class="col-md-5"><img src="~/assets/images/ewallet.jpg" alt="ewallet" class="img-responsive"></div>
        <div class="col-md-5 margin-top-60">
            <h3 class="title-v2 text-center">Use Your E-wallet </h3>

            <p class="text-justify">
                If you are our Distributor/SBO/Independent Sales Representative, you can also pay using your accumulated commission points in e-wallet given on your panel. The e-wallet option can be accessed only by signing in to the Distributor panel using the unique Distributor Id and password. Thus, whatever amount rests in it stays safe and can only be used by an authorized Distributor.
                <br>
                <br>
                <strong>Note:</strong> To avoid misuse of your account information and e-wallet balance, never share your Login Id and Password with anyone.
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
</section>
<div class="container-fluid0 container-ver2">
    @{Html.RenderPartial("~/Views/Shared/_BrandLogo.cshtml");   }
    </div>