@{
    ViewBag.Title = "Sarso | Natural Wellness Products for Bath, Body & Hair";
}

<div class="container-fluid container-fluid0">
    <div class="tp-banner-container hidden-dot ver1">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE  -->
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/images/banner/01.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                </li>
                <!-- SLIDER -->
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000"> <img src="~/assets/images/banner/02.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat"> </li>
                <!-- SLIDER -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000"> <a href="#"><img src="~/assets/images/banner/03.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat"></a> </li>
            </ul>
        </div>
    </div>
    <!-- End container -->
</div>
<div class="container-fluid">
    <div class="col-md-6 center-block float-none space-padding-tb-100">
        <h3 class="title-v2 text-center">At a Glance</h3>
        <p class="text-justify">
            For nearly a decade, SWADHARMA has been successful to give people an entrepreneurial direction operating through Direct Selling model. We have defied business confinement to brick-and-mortar spaces and enabled people work within their own space and time. <br>
            <br>
            Today while making tons of people self-employed, we are working with a radical approach to restore wellness in India through our flagship brand Swadharma and its valuable product range. Our strong education line Neeti that nurtures our Distributors with wisdom for life &amp; livelihood and an ethical ecosystem that functions for doing greater good give us a distinctive presence in the segment.
        </p>
    </div>
</div>
<section class="bg1 pad100">
    <div class="container bg2 padding-left-0 padding-right-0">
        <div class="col-md-6 brand-img amritamob"><img src="~/assets/images/entrepreneur.png" alt="entrepreneur" class="img-responsive"></div>
        <div class="col-md-6 brand-text">
            <h3 class="title-v2 text-left">Entrepreneurship Simplified</h3>
            <p class="text-justify">What we do best – empower youth with self-employment leveraging our plug and play sales platform. What comes in handy is our decade worth of experience operating through Direct Selling model and be at the bottom of rewarding business journeys. </p>
            <div class="box space-padding-tb-30 space-30"> <a class="link-v1 lh-20" href="#" title="Sign Up">Sign Up</a> </div>
        </div>
        <div class="col-md-6 brand-img amrita text-right"><img src="~/assets/images/entrepreneur.png" alt="entrepreneur" class="img-responsive"></div>
    </div>
</section>
<section class="bg2 pad100">
    <div class="container bg3 padding-left-0 padding-right-0">
        <div class="col-md-6 brand-img text-right"><img src="~/assets/images/bank_owner.png" alt="entrepreneur" class="img-responsive"></div>
        <div class="col-md-6 brand-text">
            <h3 class="title-v2 text-left" style="color:#373737;">Own a Merchandise Bank</h3>
            <p class="text-justify">Make your own space the next hotspot to sell a variety of wellness & lifestyle products choosing a defined territory in India. Build a personal storehouse of valuable products where people get touch and feel experience of products and buy them from you. Avail the opportunity to enjoy additional income benefits.</p>
            <div class="box space-padding-tb-30 space-30"> <a class="link-v1 lh-20" href="#" title="Explore More">Explore More</a> </div>
        </div>
    </div>
</section>
<div class="container-fluid">
    <div class="col-md-7 center-block float-none text-center space-padding-tb-80">
        <div class="center space-padding-tb-20"><img src="~/assets/images/swadharma_logo.png" class="wow zoomIn img-responsive" data-wow-duration="2s" data-wow-delay="0.5s" alt="Swadharma" /></div>
        <p>Swa (Self) Dharma (Duty) is helping people become aware of their inner wellbeing. Driven by the principles of Indian Ancient Wisdom, we are bringing people closer to a natural lifestyle. Indian Ancient Wisdom have the secrets to heal our health. Swadharma offers a range of products based on Ayurveda and other components of Indian Ancient Wisdom to fix health &amp; realign lifestyle. </p>
        <div class="row iconsbox">
            <div class="col-md-2 wow zoomIn" data-wow-duration="2s" data-wow-delay="0.1s">
                <div class="boximg"><img src="~/assets/images/chemical_free_icon.png" width="76" height="77" alt="" /></div>
                <p>Chemical Free</p>
            </div>
            <div class="col-md-2 wow zoomIn" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="boximg"><img src="~/assets/images/non_toxic_icon.png" width="76" height="77" alt="" /></div>
                <p>Non Toxic</p>
            </div>
            <div class="col-md-2 wow zoomIn" data-wow-duration="2s" data-wow-delay="0.7s">
                <div class="boximg"><img src="~/assets/images/edible_icon.png" width="76" height="77" alt="" /></div>
                <p>100% Herbal</p>
            </div>
            <div class="col-md-2 wow zoomIn" data-wow-duration="2s" data-wow-delay="0.9s">
                <div class="boximg"><img src="~/assets/images/cruelty_free_icon.png" width="76" height="77" alt="" /></div>
                <p>Cruelty Free</p>
            </div>
            <div class="col-md-2 wow zoomIn" data-wow-duration="2s" data-wow-delay="1s">
                <div class="boximg"><img src="~/assets/images/vegan_icon.png" width="76" height="77" alt="" /></div>
                <p>Vegan</p>
            </div>
            <div class="col-md-2 wow zoomIn" data-wow-duration="2s" data-wow-delay="1.2s">
                <div class="boximg"><img src="~/assets/images/clinically_proven.png" width="76" height="77" alt="" /></div>
                <p>Clinically Proven</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid0 container-ver2">
    <div class="blog-home1">
        <h3 class="title-v2 text-center">Know Your Products</h3>
        <h3 class="title-v3 text-center">Browse through our latest products. Know their benefits and usage.</h3>
        <!-- End title -->
        <div class="blog-content upsell-product owl-nav-hidden">
            <div class="item"> <a class="hover-images" href="#"> <img class="img-responsive" src="~/assets/images/books/giloy.png" alt="Giloy Capsules"> </a> </div>

            <!-- End item -->
            <div class="item"> <a class="hover-images" href="#"> <img class="img-responsive" src="~/assets/images/books/noni_plus.png" alt="Noni Plus"> </a> </div>
            <div class="item"> <a class="hover-images" href="#"> <img class="img-responsive" src="~/assets/images/books/sehantmand.png" alt="Sehat Mand"> </a> </div>
            <!-- End item -->
        </div>
        <!-- End blog-content -->
    </div>
    <div class="box space-padding-tb-50 space-30 text-center"> <a class="link-v1 lh-20" href="#" title="Explore More">Explore More</a> </div>
</div>
<div class="container space-padding-tb-80">
    <div class="furniture owl-nav-ver1">
        <h3 class="title-v2 text-center">Among the Favourites</h3>
        <h3 class="title-v3 text-center">The Bestsellers</h3>
        <ul class="tabs tabs-title" style="display:none;">
            <li class="item" rel="tab_1">NEW ARRIVALS</li>
            <li class="item" rel="tab_2">BEST SELLER</li>
            <li class="item" rel="tab_3">TOP RATED</li>
        </ul>
        <div class="tab-container space-10 ">
            <div class="tab-content">
                <div class="product-tab-content products hover-shadow">
                    <div class="product">
                        <div class="product-images">
                            <a href="~/Home/ProductDetail?ProdID=1813" title="Swadharma Sea Buckthorn Juice Powder"> <img class="primary_image" src="~/assets/images/products/1.jpg" alt="" /> <img class="secondary_image" src="~/assets/images/products/1.jpg" alt="" /> </a>
                            <div class="action"> <a class="zoom" href="#" title="Quick view"><i class="icon icon-magnifier-add "></i></a> <a class="add-cart" href="#" title="Add to cart"><i class="icon-bag"></i></a> </div>
                        </div>
                        <a href="~/Home/ProductDetail?ProdID=1813" title="Swadharma Sea Buckthorn Juice Powder">
                            <p class="product-title">Swadharma Sea Buckthorn Juice Powder</p>
                        </a>                       
                        @if (User.Identity.IsAuthenticated)
                        {
                            <p class="product-price">DP - Rs.1199.00</p>
                        }
                        else
                        {
                            <p class="product-price">MRP - Rs.1200.00</p> 
                        }
                        <p class="product-cv">CV - 400</p> 
                       </div>
                       <div class="product">
                        <div class="product-images">
                            <a href="~/Home/ProductDetail?ProdID=1821" title="Swadharma Fair Care Gift Set"> <img class="primary_image" src="~/assets/images/products/2.jpg" alt="" /> <img class="secondary_image" src="~/assets/images/products/2.jpg" alt="" /> </a>
                            <div class="action"> <a class="zoom" href="#" title="Quick view"><i class="icon icon-magnifier-add "></i></a> <a class="add-cart" href="#" title="Add to cart"><i class="icon-bag"></i></a> </div>
                        </div>
                        <a href="~/Home/ProductDetail?ProdID=1821" title="Swadharma Fair Care Gift Set ">
                            <p class="product-title">Swadharma Face Care Gift Set</p>
                        </a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <p class="product-price">DP - Rs.1999.00</p>
                        }
                        else
                        {
                            <p class="product-price">MRP - Rs.2000.00</p>
                        }
                           <p class="product-cv">CV - 670</p> 
                    </div>
                    <!-- End item -->
                    <div class="product">
                        <div class="product-images">
                            <a href="~/Home/ProductDetail?ProdID=1822" title="Swadharma Hair Care Kit"> <img class="primary_image" src="~/assets/images/products/3.jpg" alt="" /> <img class="secondary_image" src="~/assets/images/products/3.jpg" alt="" /> </a>
                            <div class="action"> <a class="zoom" href="#" title="Quick view"><i class="icon icon-magnifier-add "></i></a> <a class="add-cart" href="#" title="Add to cart"><i class="icon-bag"></i></a> </div>
                        </div>
                        <a href="~/Home/ProductDetail?ProdID=1822" title="Swadharma Hair Care Kit ">
                            <p class="product-title">Swadharma Hair Care Kit </p>
                        </a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <p class="product-price">DP - Rs.1799.00</p>
                        }
                        else
                        {
                            <p class="product-price">MRP - Rs.1800.00</p>
                        }
                        <p class="product-cv">CV - 600</p> 
                    </div>
                    <div class="product">
                        <div class="product-images">
                            <a href="~/Home/ProductDetail?ProdID=1794" title="Swadharma Facial Toner"> <img class="primary_image" src="~/assets/images/products/4.jpg" alt="" /> <img class="secondary_image" src="~/assets/images/products/4.jpg" alt="" /> </a>
                            <div class="action"> <a class="zoom" href="#" title="Quick view"><i class="icon icon-magnifier-add "></i></a> <a class="add-cart" href="#" title="Add to cart"><i class="icon-bag"></i></a> </div>
                        </div>
                        <a href="~/Home/ProductDetail?ProdID=1794" title="Swadharma Facial Toner">
                            <p class="product-title">Swadharma Facial Toner</p>
                        </a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <p class="product-price">DP - Rs.299.00</p>
                        }
                        else
                        {
                            <p class="product-price">MRP - Rs.300.00</p>
                        }
                        <p class="product-cv">CV - 100</p> 
                    </div>
                    <div class="product">
                        <div class="product-images">
                            <a href="~/Home/ProductDetail?ProdID=1793" title="Swadharma Tricho Conditioner"> <img class="primary_image" src="~/assets/images/products/5.jpg" alt="" /> <img class="secondary_image" src="~/assets/images/products/5.jpg" alt="" /> </a>
                            <div class="action"> <a class="zoom" href="#" title="Quick view"><i class="icon icon-magnifier-add "></i></a> <a class="add-cart" href="#" title="Add to cart"><i class="icon-bag"></i></a> </div>
                        </div>
                        <a href="~/Home/ProductDetail?ProdID=1793" title="Swadharma Tricho Conditioner">
                            <p class="product-title">Swadharma Tricho Conditioner</p>
                        </a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <p class="product-price">DP - Rs.499.00</p>
                        }
                        else
                        {
                            <p class="product-price">MRP - Rs.500.00</p>
                        }
                        <p class="product-cv">CV - 170</p> 
                    </div>
                </div>
                <!-- End product-tab-content products -->
            </div>
            <!-- End tab-content -->

        </div>
        <div class="box space-padding-tb-10 space-30 text-center"> <a class="link-v1 lh-20" href="#" title="Shop Now">Shop Now</a> </div>
    </div>
    <!-- End OurNewProduct -->
    <!-- End viewall -->
</div>

<!-- End container -->

<section class="clientreview">
    <div class="slider-user box space-30">
        <div class="title-text-v2">
            <h3>We Are Trusted &amp; Loved</h3>
        </div>
        <div class="container container-ver2 center">
            <div class="slider-dot-images center hidden-nav">
                <div class="items">
                    <p>Ethical company with amazing compensation plan! Everyone here can learn new sales techniques through Neeti (Our Education system) and earn more and more</p>
                    <h3>
                        Jatin Bhateja<br>
                        (Delhi)
                    </h3>
                    <img class="thumb hidden" src="~/assets/images/testimonials/jatin_bhateja.png" alt="Jatin Bhateja">
                </div>
                <!-- End items -->
                <div class="items">
                    <p>I’ve been using Swadharma Face Wash for 3 weeks now and the results are amazing! I can feel the deep skin cleansing and smoothness on my face.</p>
                    <h3>
                        Shweta Rai<br>
                        (Indore)
                    </h3>
                    <img class="thumb hidden" src="~/assets/images/testimonials/03.png" alt="images">
                </div>
                <!-- End items -->

                <div class="items">
                    <p>The first thing I like about Swadharma Tricho Shampoo is its mesmerizing fragrance and the second thing is it makes my hair super smooth after use</p>
                    <h3>
                        Bhumika Malhotra<br>
                        (Delhi)
                    </h3>
                    <img class="thumb hidden" src="~/assets/images/testimonials/02.png" alt="images">
                </div>
                <!-- End items -->

            </div>
        </div>
        <!-- End container -->
    </div>
</section>
<div class="container-fluid0 container-ver2 space-padding-tb-100">
    <div class="blog-home1">
        <h3 class="title-v2 text-center space-40">CEO Talks</h3>
        <!-- End title -->
        <div class="blog-content slider-two-item">
            <div class="item">
                <a class="hover-images" href="#" data-toggle="modal" data-target=".ceo1"> <img class="img-responsive" src="~/assets/images/ceo1.png" alt="CEO Talks"> </a>
                <div class="text">
                    <p class="date">DEC 17,2016</p>
                    <a href="#" title="title">
                        <h3>Motivational Speech</h3>
                    </a>
                </div>
            </div>

            <!-- End item -->
            <div class="item">
                <a class="hover-images" href="#" title="images"> <img class="img-responsive" src="~/assets/images/ceo2.png" alt="blog"> </a>
                <div class="text">
                    <p class="date">DEC 17,2016</p>
                    <a href="#" title="title">
                        <h3>Leadership Empowerment</h3>
                    </a>
                </div>
            </div>
            <!-- End item -->
        </div>
        <!-- End blog-content -->
    </div>
</div>

<div class="container brand-logos">
    @{Html.RenderPartial("~/Views/Shared/_BrandLogo.cshtml");   }
    </div>

    <!-- End slider-user -->


    <div class="container-fluid0 socialsection">
        <h3 class="title-v2 text-center">Follow Us</h3>
        <h3 class="title-v3 text-center">Let's Stay in Touch</h3>
        <div class="row socialbg">
            <a href="#">
                <div class="col-md-4 socialbtn"><i class="fa fa-facebook"></i></div>
            </a> <a href="#">
                <div class="col-md-4 socialbtn"><i class="fa fa-instagram"></i></div>
            </a> <a href="#">
                <div class="col-md-4 socialbtn"><i class="fa fa-youtube-play"></i></div>
            </a>
        </div>
    </div>
    <div class="container-fluid0 container-ver2">
        <div class="newsletter-home4">
            <div class="container ">
                <div class="row pad40">
                    <div class="col-md-12 col-sm-12 wrap-center float-left">
                        <div class="items col-md-8">
                            <div class="text">
                                <h3>Want to start your entrepreneurial journey with SARSO? </h3>
                            </div>
                            <div class="wrap-form">
                                <button class="button button1 hover-white enquiry" title="Get in Touch" type="submit" data-toggle="modal" data-target=".get-in-touch">Ask a Question</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End row -->
        </div>
    </div>
