

<div class="container-fluid container-fluid0">
    <div class="tp-banner-container hidden-dot ver3">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/images/pagebanner/category-banner.jpg" alt="Category Banner" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 9 -->

                    <div class="tp-caption color-white customin randomrotateout font-play tp-resizeme size-60"
                         data-x="800"
                         data-y="230"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="500"
                         data-start="2000"
                         data-easing="Power4.easeOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         style="z-index: 3">Media</div>
                </li>
            </ul>
        </div>
    </div>
    <!-- End container -->
</div>
<!-- End Banner Grid -->
<div class="container space-padding-tb-50">
    <div id="primary" class="col-xs-12 col-md-12">

        <div class="row products ver2 grid_full grid_sidebar hover-shadow furniture">
            <div class="item-inner col-lg-3">
                <div class="product">
                    <div class="product-images" style="min-height:100px;">
                        <a href="~/assets/images/media1.jpg" target="_blank" title="product-images">
                            <img class="primary_image" src="~/assets/images/media1.jpg" alt="imageName" />
                        </a>

                    </div>

                </div>
            </div>

            <div class="item-inner col-lg-3">
                <div class="product">
                    <div class="product-images" style="min-height:100px;">
                        <a href="~/assets/images/media2.jpg" target="_blank" title="product-images">
                            <img class="primary_image" src="~/assets/images/media2.jpg" alt="imageName" />
                        </a>

                    </div>

                </div>
            </div>

            <div class="item-inner col-lg-3">
                <div class="product">
                    <div class="product-images" style="min-height:100px;">
                        <a href="~/assets/images/media3.jpg" target="_blank" title="product-images">
                            <img class="primary_image" src="~/assets/images/media3.jpg" alt="imageName" />
                        </a>

                    </div>

                </div>
            </div>

            <div class="item-inner col-lg-3">
                <div class="product">
                    <div class="product-images" style="min-height:100px;">
                        <a href="~/assets/images/media4.jpg" target="_blank" title="product-images">
                            <img class="primary_image" src="~/assets/images/media4.jpg" alt="imageName" />
                        </a>

                    </div>

                </div>
            </div>

        </div>


        <div class="row products ver2 grid_full grid_sidebar hover-shadow furniture">
            <div class="item-inner col-lg-3">
                <div class="product">
                    <div class="product-images" style="min-height:100px;">
                        <a href="~/assets/images/media5.jpg" target="_blank" title="product-images">
                            <img class="primary_image" src="~/assets/images/media5.jpg" alt="imageName" />
                        </a>

                    </div>

                </div>
            </div>

            <div class="item-inner col-lg-3">
                <div class="product">
                    <div class="product-images" style="min-height:100px;">
                        <a href="~/assets/images/media6.jpg" target="_blank" title="product-images">
                            <img class="primary_image" src="~/assets/images/media6.jpg" alt="imageName" />
                        </a>

                    </div>

                </div>
            </div>

            

        </div>


    </div>

</div>

<div class="container brand-logos space-30 space-padding-tb-100">
    @{Html.RenderPartial("~/Views/Shared/_BrandLogo.cshtml");   }
</div>

