<div class="container-fluid container-fluid0">
    <div class="tp-banner-container hidden-dot ver2">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/images/pagebanner/neeti.jpg" alt="Neeti" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 9 -->


                    <div class="tp-caption color-white weight-300 letter-spacing-5 skewfromleft customout size-30"
                         data-x="600"
                         data-y="620"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="800"
                         data-start="1600"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">PREPARING YOU FOR LIFE &amp; LIVELIHOOD</div>
                </li>
            </ul>
        </div>
    </div>
    <!-- End container -->
</div>
<div class="container-fluid">
    <div class="col-md-7 center-block float-none space-padding-tb-80">
        <h3 class="title-v2 text-center">20+ Years of Devotion</h3>
        <h3 class="title-v3 text-center">The Story of Our Inception</h3>
        <p class="text-justify">
            It is when human potential finds its fullest expression that great leaders are born. Almost everyone you find successful in this world essentially has great control over their body and mind. A healthy body and a sound mind have the power to create incredible things. Success is directly proportionate to the profoundness of your internal growth. I’ve always thrived by this principle and have experienced the same throughout my life so far.
            <br>
            <br>

            After tasting huge success in Network Marketing Industry, having addressed massive gatherings, I developed a profound desire to use this platform to train and let everyone know the importance of inner growth to earn a successful livelihood. Seventeen years of successful Network Marketing journey and serial entrepreneurship having led businesses in verticals like Food, Healthcare Textiles, Wedding & Outdoor Décor, Lifestyle and more, sparked a strong zeal within me to spread this knowledge and share these life experiences for greater good.
            <br>
            <br>

            Being in the lap of my Spiritual Master SADHGURU with over 3 years of committed adherence to Spiritual Sadhana and counting, having explored life beyond its physical aspects through Spirituality and Yogic Practices, and being bequeathed with tools in the form of Spiritual Sadhana to keep my life energies in harmony, I find myself prepared to help others reach the peak of their potential. This is what brings Neeti as a learning platform to cultivate leadership, life and business success as an intuitive process, going beyond textbook strategies. Neeti will guide you to bring your mind, body and energies in complete harmony so that you get empowered to manifest external success for yourself.
            <br>
            <br>

            <h3 class="title-v2 text-center" style="color:#373737; font-size:16px; margin-top:25px;">
                Mohit Sardana<br>
                (Life &amp; Livelihood Coach)
            </h3>


        </p>
    </div>
</div>

<section class="bg6">
    <div class="container space-100">
        <div class="col-md-1"></div>
        <div class="col-md-6 pad60"><img src="~/assets/images/neet3.jpg" alt="Learning Platform" class="img-responsive"></div>
        <div class="col-md-4 space-padding-tb-100">
            <h3 class="title-v2 text-left" style="color:#7b996d;">A Distinct Learning Platform</h3>
            <h3 class="title-v3 text-left">Things Your School Didn’t Teach You</h3>
            <p class="text-justify">Our education system prepared us to get degrees. It didn’t prepare us for the world we live in today. Did someone tell you that the most important thing in life is LIFE itself? Millions of people on the planet will not wake up tomorrow. But if you do, isn’t that a majestic feat? Did anyone tell you that you can always feel blissful? Do you know how human mechanism works? Let us tell you that if you don’t understand how human body functions, you are like a car driver with accelerator and brakes under his feet and gears in his hands who don’t know how to operate them! Think about it.</p>
        </div>
        <div class="col-md-1"></div>
    </div>
</section>
<section>
    <div class="container space-100">
        <div class="col-md-1"></div>

        <div class="col-md-5 space-padding-tb-100 pad60">
            <h3 class="title-v2 text-left">
                Life Through the<br>
                Eyes of a Business Leader
            </h3>
            <h3 class="title-v3 text-left">How a Leader Looks at the World</h3>
            <p class="text-justify">It takes a leader to operate from a sense of inclusiveness and make decisions that are incisive. If you think from a myopic perspective, how would you create something big? If you do not have inner balance and an insightful mind, how would you manage your team, the people and external forces? We’ll show you the world through a leader’s lens. </p>
        </div>
        <div class="col-md-6"><img src="~/assets/images/neet4.jpg" alt="Yoga" class="img-responsive"></div>
    </div>
</section>

<section class="bg9 pad100 space-100">
    <div class="container bg2 padding-left-0 padding-right-0">
        <div class="col-md-6 brand-img"><img src="~/assets/images/neet5.jpg" alt="Powerful Communicator" class="img-responsive"></div>
        <div class="col-md-6 space-padding-tb-50">
            <div class="pad40">
                <h3 class="title-v2 text-left" style="color:#876152;">
                    Everyone Can be a<br>
                    Powerful Communicator
                </h3>
                <h3 class="title-v3 text-left">The Art of Effective Communication</h3>
                <p class="text-justify">How many times have self-doubt and fear of judgment contained your true expression of thoughts? How many times have you been overwhelmed while addressing a crowd? Has English language ever been a barrier in your communication? If you believe you can’t address huge audiences, let us tell you it’s a myth. If you stay silent on most occasions but wish to connect with others, we’ll help you. </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container space-100">

        <div class="col-md-6 pad40">
            <h3 class="title-v2 text-left">You Are What You Eat</h3>
            <h3 class="title-v3 text-left">How Food Influences your Energy &amp; Existence</h3>
            <p class="text-justify">
                Food is the fuel that drives you. So, you must figure out yourself, which type of food works the best for you. But how to decide what to eat for best results? Here are some food facts you must know.<br>
                <br>
                <ul>
                    <li>  	<i class="fa fa-check color-golden"></i> Food should be consumed within 1.5 hours of cooking or getting off the stove.</li>
                    <li>	<i class="fa fa-check color-golden"></i> A fruit is fully digested within 1.5 to 3 hours. </li>
                    <li>	<i class="fa fa-check color-golden"></i> Cooked vegetables take 12-15 hours for digestion.</li>
                    <li>	<i class="fa fa-check color-golden"></i> Cooked cereals take 24 to 30 hours to digest.</li>
                    <li>	<i class="fa fa-check color-golden"></i> Raw meat takes 72 hours to digest.</li>
                    <li><i class="fa fa-check color-golden"></i> Cooked meat takes 48 to 52 hours to digest.</li>
                </ul>
                <br>
                <br>
                The longer your food remains in your body the higher are the possibilities of bacterial birth within your system. But how do the food that we eat influences our mind and body? Discover it with us.
            </p>
        </div>
        <div class="col-md-6"><img src="~/assets/images/neet6.jpg" alt="What you eat" class="img-responsive"></div>
    </div>
</section>
<!-- End container -->
<section class="bg10 space-100">
    <div class="container">
        <div class="col-md-11 center-block float-none text-center space-padding-tb-100">
            <h3 class="title-v2" style="color:#fff;">Step into a World of Transformation</h3>
            <h3 class="title-v3" style="color:#fff;">Areas We Can Help You Improve</h3>

            <div class="row iconsbox">
                <div class="col-md-2 wow zoomIn" data-wow-duration="2s" data-wow-delay="0.1s">
                    <div class="boximg"><img src="~/assets/images/mind.png" width="132" height="132" alt="MIND" /></div>
                    <p><span>MIND</span></p>
                </div>
                <div class="col-md-2 wow zoomIn" data-wow-duration="2s" data-wow-delay="0.4s">
                    <div class="boximg"><img src="~/assets/images/body.png" width="132" height="132" alt="BODY" /></div>
                    <p><span>BODY</span></p>
                </div>
                <div class="col-md-2 wow zoomIn" data-wow-duration="2s" data-wow-delay="0.7s">
                    <div class="boximg"><img src="~/assets/images/entrepreneurship.png" width="132" height="132" alt="ENTREPRENEURSHIP" /></div>
                    <p><span>ENTREPRENEURSHIP</span></p>
                </div>
                <div class="col-md-2 wow zoomIn" data-wow-duration="2s" data-wow-delay="0.9s">
                    <div class="boximg"><img src="~/assets/images/commnunication.png" width="132" height="132" alt="COMMUNICATION" /></div>
                    <p><span>COMMUNICATION</span></p>
                </div>
                <div class="col-md-2 wow zoomIn" data-wow-duration="2s" data-wow-delay="1s">
                    <div class="boximg"><img src="~/assets/images/leadership.png" width="132" height="132" alt="LEADERSHIP" /></div>
                    <p><span>LEADERSHIP</span></p>
                </div>
                <div class="col-md-2 wow zoomIn" data-wow-duration="2s" data-wow-delay="1.2s">
                    <div class="boximg"><img src="~/assets/images/food.png" width="132" height="132" alt="FOOD &amp; NUTRITION" /></div>
                    <p><span>FOOD &amp; NUTRITION</span></p>
                </div>
                <div class="clearfix"></div>
                <div class="box margin-top-60"> <a class="link-v1 lh-20" href="#" title="Enroll Today" style="background:#fff; color:#c0b283;">Enroll Today</a> </div>
            </div>
        </div>
    </div>
</section>
<section class="space-100">
    <div class="container-fluid0 container-ver2">
        <div class="blog-home1">
            <h3 class="title-v2 text-center space-40">What People Say About Neeti</h3>
            <!-- End title -->
            <div class="blog-content slider-two-item">
                <div class="item"> <a class="hover-images" href="#" data-toggle="modal" data-target=".neeti1"> <img class="img-responsive" src="~/assets/images/testimonials/neeti1.jpg" alt=""> </a></div>


                <!-- End item -->
                <div class="item">
                    <a class="hover-images" href="#" data-toggle="modal" data-target=".neeti1"> <img class="img-responsive" src="~/assets/images/testimonials/neeti2.jpg" alt=""> </a>

                    <!-- End item -->
                </div>
                <!-- End blog-content -->
            </div>
        </div>
    </div>
</section>