<div class="container-fluid container-fluid0">
    <div class="tp-banner-container hidden-dot ver3">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/images/pagebanner/policy.jpg" alt="Sootram" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 9 -->




                </li>
            </ul>
        </div>
    </div>
    <!-- End container -->
</div>
<div class="container space-padding-tb-80">
    <div class="col-md-10 center-block float-none">
        <h3 class="title-v2">PRIVACY POLICY</h3>
        <p class="text-justify space-30">This Privacy Notice describes how SARSO Biznet International Pvt. Ltd. (hereinafter “SARSO”) uses personal data collected or received from visitors (“Visitors”) of this website (“Website”). It also describes how we use personal data collected when you register as a Customer/Distributor (“Customer/Distributor”). It describes how we collect or receive your personal data, the types of personal data we process, how we use, share and protect this data, your rights with respect to the processing of your personal data, and how you can contact us about our privacy practices. At SARSO, we respect every individual's right to privacy and are committed to protect the same, ensuring the security of information submitted to us. We refer to and treat this information as "personal information". However, we do reserve the right to disclose or report personal information in limited circumstances where we believe in good faith that disclosure is required under law, to cooperate with regulators or law enforcement authorities, or to protect our rights or property. </p>
        <h3 class="title-v2">The Types of Personal Data We Collect</h3>
        <p class="text-justify space-30">
            If you are registering as a Customer directly with SARSO, we collect the following personal data from you:<br>
            •	Contact information (name, postal or e-mail address, and phone number)<br>
            •	Date of birth<br>
            •	Login information including Username and Password<br>
            •	Payment information (bank account or credit card numbers)<br>
            •	Product preferences, purchasing habits, purchasing history and spending behavior<br>
            •	Communication preferences
        </p>
        <h3 class="title-v2">HOW WE USE PERSONAL DATA</h3>
        <p class="text-justify space-30">
            For the Purpose it was Required<br>
            We use your personal information in ways that are compatible with the purposes for which we originally required/asked for. We may use your email address, mailing address and/or phone number to provide quality customer support or to reach you regarding order status, product or fulfillment issues and other customer service-related activities. We may use your email address, mailing address and/or phone number to contact you regarding new product offerings, newsletters and other aspects of your use of our website.<br>
            <br>
            For Conducting Product Surveys<br>
            We limit the collection and use of personal information to what is necessary to administer our business and to deliver superior service to you. This may include conducting surveys regarding current or future products. Participation in these surveys is always optional. Survey responses are only used in the aggregate and are never linked to an individual. While our survey data is primarily for use within SARSO only, we may occasionally share the aggregate survey data with our Associate Partners in order to facilitate new product development and improve customer service and overall customer satisfaction.


        </p>
        <h3 class="title-v2">Third Party Agreements</h3>
        <p class="text-justify space-30">When we share personal information with an affiliate, we protect that personal information with a strict confidentiality agreement. Companies that we hire to provide support services or act as our agent strictly conform to our privacy standards. </p>

        <h3 class="title-v2">Instructions to Employees for Handling Your Personal Information</h3>
        <p class="text-justify space-30">SARSO corporate policies require that employees with access to confidential Customer/Distributor information may not use or disclose the information except for business use. All employees are required to safeguard such information as specified in their confidentiality agreements with SARSO. </p>

        <h3 class="title-v2">Future Changes in the Privacy Policy</h3>
        <p class="text-justify space-30">By using our website, you consent to the collection and use of information by SARSO as described in this Privacy Policy. If we decide to change it, we will post those changes to this privacy notice, the home page, and other places we deem appropriate so that you are aware of what information we collect, how we use it, and under what circumstances (if any) we disclose it. We reserve the right to modify this privacy statement at any time, so please review it frequently. If we make material changes to this policy, we will notify you by email or by means of a notice on our home page. </p>

        <h3 class="title-v2">Your Rights</h3>
        <p class="text-justify space-30">We continue to evaluate our efforts to protect personal information and make every effort to keep your personal information accurate and up to date. If you identify any error in your personal information or need to make a change to that information, please contact us and we will promptly update our records. You can access your personal data, get it corrected or erased, ask us to restrict the processing of your personal data or withdraw your consent for its usage at any time. Distributors can update or correct their personal information at any time by visiting the "Update Profile" section in their respective online panel at www.sarsobiz.net.  </p>


        <h3 class="title-v2">How to Contact Us</h3>
        <p class="text-justify space-30">
            If you have any questions or concerns, please drop us an email at support@sarsomail.net or call us at +91 – 7290084343.

        </p>
    </div>
</div>
