<div class="container-fluid container-fluid0">
    <div class="tp-banner-container hidden-dot ver3">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/images/pagebanner/return.jpg" alt="Return Policy" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption color-white customin randomrotateout font-play tp-resizeme size-50"
                         data-x="650"
                         data-y="260"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="500"
                         data-start="2000"
                         data-easing="Power4.easeOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         style="z-index: 3">
                        Return/Exchange a Product
                    </div>



                </li>
            </ul>
        </div>
    </div>
    <!-- End container -->
</div>
<div class="container-fluid">
    <div class="col-md-7 center-block float-none space-padding-tb-80">
        <h3 class="title-v2 text-center">30 Days Return/Exchange Policy</h3>

        <p class="text-justify">
            At sarsobiz.net, we believe that customer satisfaction is the key. Therefore, we stand behind all products bought from our website. You can submit order cancellation/ exchange request within 30 days from the date of order placement if you receive a product which is not as per the given specifications. <br>
            <br>
            <strong>This includes the following parameters:</strong>
            <ul>
                <li><i class="fa fa-check"></i>	Defective product.</li>
                <li><i class="fa fa-check"></i>	Damaged product. </li>
                <li><i class="fa fa-check"></i>	Product being significantly different from the description given on the website. </li>
                <li><i class="fa fa-check"></i>	Size of the product is different from what you choose.</li>
                <li><i class="fa fa-check"></i>	Color of the product is different from what you choose.</li>
                <li><i class="fa fa-check"></i>	You have received more products in quantity than what you ordered.</li>

            </ul>

            <br>
            <br>
            However, for some products the sale is final, and we do not accept any return. Some healthcare products, customized products and edible products cannot be returned due to health &amp; hygiene reasons. We will also not be able to accept the return if: <br>
            <ul>
                <li><i class="fa fa-check"></i>	The product is used/worn out or altered.</li>
                <li><i class="fa fa-check"></i>	The product exhibits physical damage. </li>
                <li><i class="fa fa-check"></i>	The product is returned without original packaging and accessories.</li>
                <li><i class="fa fa-check"></i>	Serial number / price tag on the product is tampered.</li>
            </ul>
        </p>
    </div>
</div>
<div class="container-fluid space-padding-tb-80 bg7">
    <div class="col-md-10 center-block float-none">
        <h3 class="title-v2 text-center">FAQ's</h3>
        <div class="accordion box space-100">
            <!-- Accordion v2 -->
            <div class="accordion accordion-v2">
                <div class="panel-group" id="accordion-v2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-One" aria-expanded="true" class="">
                                    1.	When should I inform the company about any difference in quantity/quality of the order placed?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-One" class="panel-collapse active collapse in">
                            <div class="panel-body">
                                Any difference in quantity or quality of the goods/products delivered should be intimated to the company within 24 hours from the receipt of product. Company shall provide appropriate replacement of the goods and dispatch the product within 5 working days after receiving the product back.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-Two" aria-expanded="false">
                                    2.	How do I return the product?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-Two" class="panel-collapse collapse">
                            <div class="panel-body">
                                Once you are sure you want to return the product, you can contact our customer support to initiate the return. Once the return has been authorized, you can pick your own courier service, and have it shipped. The product should be returned to the following address: <br>
                                <br>
                                Plot No. 107, Chhatar Singh House, Near Bagwani Nursary, Jonapur, Near Chhatarpur, New Delhi – 110047.

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-Three" aria-expanded="false">
                                    3.	How will I get refunded for the products I have returned?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-Three" class="panel-collapse collapse">
                            <div class="panel-body">
                                You will be refunded according to the Refund Policy of the company. Amount received from the credit card and net banking transactions will be refunded to the same account (within 4-6 working days) which was used to make the original transaction. The refund will take place after we have received the product at our end and the same is verified by our quality check department.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-Four" aria-expanded="false">
                                    4.	For a product to be returnable, what should be its condition?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-Four" class="panel-collapse collapse">
                            <div class="panel-body">
                                Before you ship the product, please make sure that the item has not been used/worn or altered and is accompanied by its original parts/components/accessories, price tag and packing slip.
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-5" aria-expanded="false">
                                    5.	How much time does the return process take?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-5" class="panel-collapse collapse">
                            <div class="panel-body">
                                Once the item is received from you, we will check the condition of the product. Once our team gets satisfied with condition of the product, the logistics department will be put into work for sending a new product to you. So, the return process may take between 10-15 working days staring from the day the item is received by us.
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-6" aria-expanded="false">
                                    6.	How will I know the status of product that I have returned?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-v2-6" class="panel-collapse collapse">
                            <div class="panel-body">
                                You can track the return status by checking it with the courier company you chose for shipping. You can also write to us at support@sarsomail.net or call us at +91 7290084343. We are available from Monday to Friday 11:AM to 6:00 PM.
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- End Accordion v2 -->
            <!-- End share -->
        </div>
    </div>
</div>

<div class="container-fluid0 container-ver2">
    <div class="newsletter-home4" style="background:#bbceb2;">
        <div class="container ">
            <div class="row pad40">
                <div class="col-md-12 col-sm-12 wrap-center float-left">
                    <div class="items col-md-8">
                        <div class="text">
                            <h3 style="color:#373737; letter-spacing:4px;">Still have questions?</h3>
                        </div>
                        <div class="wrap-form">
                            <button class="button1 hover-white enquiry" title="Get in Touch" type="submit" data-toggle="modal" data-target=".get-in-touch" style="background:#fff; color:#373737;">TALK TO US</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End row -->
    </div>
</div>