@{
    ViewBag.Title = "Sootram";
}
<div class="container-fluid container-fluid0">
    <div class="tp-banner-container hidden-dot ver2">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/images/pagebanner/sootram.jpg" alt="Sootram" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 9 -->


                    <div class="tp-caption color-white weight-300 letter-spacing-5 skewfromleft customout size-20"
                         data-x="830"
                         data-y="525"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="800"
                         data-start="1600"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">CLAD IN NATURE</div>
                </li>
            </ul>
        </div>
    </div>
    <!-- End container -->
</div>
<div class="container-fluid">
    <div class="col-md-7 center-block float-none space-padding-tb-80">
        <h3 class="title-v2 text-center">The Tale of Inception</h3>
        <h3 class="title-v3 text-center">An Indian Secret</h3>
        <p class="text-justify">
            Learnings take place at any time and there are no restrictions to how they take place. On my quest to find more about Indian Ancient Wisdom and explore India, I once had a vacay to Gujarat. While exploring the streets of Kutch, I came across some old ladies all clad in sarees. It was scorching hot that day and there was barely any part of my body which wasn’t sweating. With sun over their head, I noticed a peculiar ease with which those ladies were engaged in household chores. Intrigued by their easiness, I asked them for a glass of water and enquired how they could bear the merciless sun with so much ease. They were glad to reveal the secret of plant-based natural clothes they were wearing. A moment of eureka for me and reason enough to think about planting seeds for Sootram. And even to this day I am thankfully in touch with them for inspiring me to bring Sootram into existence.
            Mohit Sardana (CEO)
        </p>
        <h3 class="title-v2 text-center" style="color:#373737; font-size:16px; margin-top:25px;">Mohit Sardana (CEO)</h3>
    </div>
</div>
<section class="bg1">
    <div class="container-fluid padding-right-0">
        <div class="col-md-1"></div>
        <div class="col-md-5 brand-text margin-top-30">
            <h3 class="title-v2 text-left" style="color:#fbfbfb;">Wear Consciously</h3>
            <h3 class="title-v3" style="color:#fbfbfb;">Think Before You Wear</h3>
            <p class="text-justify" style="color:#fbfbfb;">Most clothes you wear today are a produce of fast fashion industry – a chief contributor in global carbon emissions and oil consumption. 60% of clothing in the world is made from poly-fiber and it is estimated that in a decade, 98% of all fiber will be synthetic. Micro poly-fiber is entering our bodies and studies have shown health threats like cancer linked to it. It is not only poisoning our soil and water and entering the food cycle but also entering our bodies. Children are most vulnerable to it as these plastic pollutants in their food and on their body are laying a weak foundation for their immune systems. Sootram a clothing line made of natural fibers is an initiative to draw the finish line to it, inspiring consumers to wear consciously. </p>

        </div>
        <div class="col-md-6 text-right padding-right-0 "><img src="~/assets/images/sootram1.jpg" alt="Sootram" class="img-responsive"></div>




    </div>
</section>
<section class="space-100 bg2">
    <div class="container">


        <div class="col-md-6 pad60"><img src="~/assets/images/sootram2.jpg" alt="Sootram" class="img-responsive"></div>

        <div class="col-md-5 brand-text">
            <h3 class="title-v2 text-left margin-top-60">Simplicity Over Fashion</h3>
            <h3 class="title-v3">Fashion Hurts. Simplicity Heals</h3>
            <p class="text-justify">Choose simplicity over fashion. Enough load on the planet already. Why make an addition to it? We don’t find fun in fickleness of fashion. That we believe compromises on the health of planet. We keep it simple. Fabric made of plant-based fiber and well-designed clothes. A wardrobe you can continue for seasons and yet stay stylishly simple. </p>

        </div>
        <div class="col-md-1"></div>
    </div>
</section>
<section class="space-50">
    <div class="container-fluid">
        <div class="col-md-7 center-block float-none">
            <h3 class="title-v2 text-center">Indian Feel. Global Appeal</h3>
            <h3 class="title-v3 text-center">Historical Yet Modern</h3>
            <p class="text-center">
                We use indigenous material to support the lives of our own farmers, tailors, weavers, designers and more who give our product line in Sootram a perfect essence of India and yet craft products that look global in their appeal. Our clothing designs are as natural as their material, inspired by natural elements like birds, animals, flowers, and majestic sceneries of our revered mountains and rivers.<br>
                <br>
                <img src="~/assets/images/sootram33.jpg" alt="" class="img-responsive" />
            </p>

        </div>
    </div>
</section>
<section class="bg9 pad100 space-100">
    <div class="container bg2 padding-left-0 padding-right-0">
        <div class="col-md-6 brand-img"><img src="~/assets/images/sootram3.jpg" alt="Sootram" class="img-responsive"></div>
        <div class="col-md-6">
            <div class="pad60 margin-top-20">
                <h3 class="title-v2 text-left" style="color:#373737;">Empowering Hands that Weave</h3>
                <h3 class="title-v3">Honoring the Native Talent Pool</h3>
                <p class="text-justify">In the wake of mechanization and fast production, the handcraft of local artisans who weave magic out of their hands has been forgotten since long. We don’t want such magnanimous talents to stay unsung and their legacies to get buried. So, we tie up with local artisans and designers who handcraft clothes with passion and love, impregnating Indian essence in to them. This is also a move to impart them economic support and acquaint younger generation with the rich art &amp; craft heritage of our country. </p>

            </div>
        </div>
    </div>
</section>
<section>
    <div class="container space-100">
        <div class="col-md-1"></div>
        <div class="col-md-5"><img src="~/assets/images/sootram4.jpg" alt="Sootram" class="img-responsive"></div>
        <div class="col-md-5 margin-top-60">
            <h3 class="title-v2 text-left">Step Towards a Happy Planet</h3>
            <h3 class="title-v3 text-left">Zero Plastic Packaging</h3>
            <p class="text-justify">Sootram is a mindful brand. We know plastic is one of the deadliest pollutants of our rivers and oceans disturbing the lives of creatures we have to co-exist with. Therefore, all our clothes and fabrics are packed in cotton drawstring bags and shipped in corrugated cardboard boxes that are sealed using recyclable paper tape.</p>

        </div>
        <div class="col-md-1"></div>
    </div>
</section>

