<div class="container-fluid container-fluid0">
    <div class="tp-banner-container hidden-dot ver2">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/images/pagebanner/business.jpg" alt="Sign In" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 9 -->


                    <div class="tp-caption color-white weight-300 letter-spacing-5 skewfromleft customout size-30"
                         data-x="725"
                         data-y="520"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="800"
                         data-start="1600"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">START YOUR BUSINESS</div>

                </li>
            </ul>
        </div>
    </div>
    <!-- End container -->
</div>
<div class="container-fluid">
    <div class="col-md-7 center-block float-none space-padding-tb-100">
        <h3 class="title-v2 text-center">Build Your Own Story</h3>
        <h3 class="title-v3 text-center">A Business Opportunity Like No Other</h3>
        <p class="text-justify">
            Starting a business isn’t easy. But with us it is just like a cakewalk. Recommend and sell our high-quality lifestyle and wellness products to get incentivized as per industry’s most rewarding compensation model. With no upfront investment required at your end, you avoid the hassle of establishing an office space, create inventory or hire a team. Start wherever you want, whenever you want. Simply use our products for firsthand experience, retail them or recommend them to others for purchase. It’s a gateway to accomplish your financial goals.

            <span style="font-size:14px;">
                Disclaimer: We don’t promise quick-fire rewards. Earnings are based on efforts and sales,
                which are calculated as per a well-defined compensation model.
            </span>
        </p>
        <div class="box space-padding-tb-20 text-center"> <a class="link-v1 lh-20" href="#" title="Become a Distributor">BECOME A DISTRIBUTOR</a> </div>

    </div>
</div>


<section class="space-padding-tb-80 bg7">
    <div class="container">
        <h3 class="title-v2 text-center">What’s in It for You?</h3>
        <h3 class="title-v3 text-center">Lots of Benefits</h3>


        <div class="col-md-4 space-padding-tb-40 text-center pad50">
            <img src="~/assets/images/business1.png" alt="" class="img-responsive">
            <h3 class="title-v2 text-center">INCOME</h3>
            <p>Buy products at discounted prices &amp; retail them at MRP with a markup of up to 40%. Also get incentivized as per compensation model.</p>

        </div>
        <div class="col-md-4 space-padding-tb-40 text-center pad50">
            <img src="~/assets/images/business2.png" alt="" class="img-responsive">
            <h3 class="title-v2 text-center">FLEXIBILITY</h3>
            <p>Choose your working hours. Work part time or full-time. You are your own boss. Build a network and expand your business anywhere in India.</p>

        </div>
        <div class="col-md-4 space-padding-tb-40 text-center pad50">
            <img src="~/assets/images/business3.png" alt="" class="img-responsive">
            <h3 class="title-v2 text-center">LEARNING &amp; SUPPORT</h3>
            <p>We’ll guide you every step of the way, right from the start. Get trained through Swadharma’s own business school Neeti. Plus, our leaders will support you.</p>

        </div>

    </div>
</section>
<div class="container bg8 padding-left-0 padding-right-0">
    <div class="col-md-6 brand-img text-left"><img src="~/assets/images/business_product_line.jpg" alt="Business Product Line" class="img-responsive"></div>
    <div class="col-md-4 brand-text">
        <h3 class="title-v2 text-left" style="color:#9f8e54;">A Product Line in Demand</h3>
        <h3 class="title-v3 text-left">Wellness – Lifestyle – Household </h3>
        <p class="text-justify">Our extensive product line is based on wellness and lifestyle products including a range of chemical-free cosmetics, personal care &amp; household items, Ayurvedic health supplements and medicines with an expanding range of natural clothing fiber and nutritive foods. It’s a much sought-after product range thoughtfully chosen for people of any age group right from kids, young, adults and old-aged.</p>

    </div>
</div>
<section class="clientreview">
    <div class="slider-user box space-60 margin-top-30">
        <h3 class="title-v2 text-center" style="color:#373737;">Your Business. Your Way</h3>
        <h3 class="title-v3 text-center">They found it worthwhile. We bet, you’ll too</h3>
        <div class="container container-ver2 center">
            <div class="slider-dot-images center hidden-nav">
                <div class="items">
                    <p>Ethical company with amazing compensation plan! Everyone here can learn new sales techniques through Neeti (Our Education system) and earn more and more</p>
                    <h3>
                        Jatin Bhateja<br>
                        (Delhi)
                    </h3>
                    <img class="thumb hidden" src="~/assets/images/testimonials/jatin_bhateja.png" alt="Jatin Bhateja">
                </div>
                <!-- End items -->
                <div class="items">
                    <p>I’ve been using Swadharma Face Wash for 3 weeks now and the results are amazing! I can feel the deep skin cleansing and smoothness on my face.</p>
                    <h3>
                        Shweta Rai<br>
                        (Indore)
                    </h3>
                    <img class="thumb hidden" src="~/assets/images/testimonials/03.png" alt="images">
                </div>
                <!-- End items -->

                <div class="items">
                    <p>The first thing I like about Swadharma Tricho Shampoo is its mesmerizing fragrance and the second thing is it makes my hair super smooth after use</p>
                    <h3>
                        Bhumika Malhotra<br>
                        (Delhi)
                    </h3>
                    <img class="thumb hidden" src="~/assets/images/testimonials/02.png" alt="images">
                </div>
                <!-- End items -->

            </div>
        </div>
        <!-- End container -->
    </div>
</section>
<!-- End container -->

<section>
    <div class="container benefits space-padding-tb-100">
        <h3 class="title-v2 text-center" style="color:#9f8e54;">Become a Distributor</h3>
        <h3 class="title-v3 text-center">Start in 3 Simple Steps</h3>
        <div class="col-md-1"></div>
        <div class="col-md-6"><img src="~/assets/images/distributor.jpg" alt="Distributor" class="img-responsive"></div>
        <div class="col-md-4 margin-top-30">
            <img src="~/assets/images/distributor1.jpg" alt="" class="img-responsive" />


            <div class="box space-padding-tb-30 text-center"> <a class="link-v1 lh-20" href="#" title="Read More">SIGN UP</a> </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</section>
<div class="container-fluid space-60">
    <div class="col-md-1"></div>
    <div class="col-md-5 space-padding-tb-50">
        <h3 class="title-v2 text-left">Abide by the Guidelines</h3>
        <h3 class="title-v3 text-left">And follow the Code of Conduct</h3>
        <p class="text-justify">The Direct Selling industry is governed by necessary guidelines issued by the Government of India. As a registered Direct Selling entity, we abide by all the guidelines and also educate our distributors/independent sales representatives to learn &amp; abide by the same. Essentially, these guidelines are meant to educate you to beware of ponzi or pyramid schemes circulating in the market and pass it on to the people you approach for recommendation of products and facilitate their recruitment as independent sales representatives of the company. Along with this, we have also laid down a Code of Conduct for our distributors, the education and abidance of which is binding. </p>
        <div class="box space-padding-tb-20 text-left"> <a class="link-v1 lh-20" href="#" title="Know More">KNOW MORE</a> </div>
    </div>
    <div class="col-md-6 padding-left-0 text-right"><img src="~/assets/images/start_business_1.jpg" alt="" class="img-responsive" /></div>

</div>
@{Html.RenderPartial("~/Views/Shared/_BrandLogo.cshtml");   } 