  <!-- /header -->
<div class="container-fluid container-fluid0">
    <div class="tp-banner-container hidden-dot ver2">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/images/pagebanner/sustainbility.jpg" alt="Sustainbility" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption color-white customin randomrotateout font-play tp-resizeme size-60"
                         data-x="400"
                         data-y="400"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="500"
                         data-start="2000"
                         data-easing="Power4.easeOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         style="z-index: 3">
                        Pledged to Sustainability
                    </div>

                    <div class="tp-caption color-white weight-300 letter-spacing-5 skewfromleft customout size-20"
                         data-x="400"
                         data-y="455"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="800"
                         data-start="1600"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">Doing our bit to protect the planet</div>
                </li>
            </ul>
        </div>
    </div>
    <!-- End container -->
</div>
<div class="container-fluid space-60">
    <div class="col-md-7 center-block float-none space-padding-tb-80">

        <p class="text-justify">
            All these years, we have been unkind to the ‘Mother Earth’. We have been using and dumping stuff that in one way or the other harms the natural habitat of various creatures on earth. Most of us have forgotten the phenomenon of co-existence and believed ourselves to be the masters on the planet. And that has resulted in a lot of destruction to innumerable species who have either become extinct or are close to extinction. But we did not stop there as it didn’t directly impact us – the humans. We realized it only lately when we felt suffocated through high AQIs, drastic climate change, global warming and more. Every year we pollute our landfills, air and oceans with a plethora of non-biodegradable products, plastic material, chemicals, industrial waste and more. So, somewhere it has to stop. That’s why we have Pledged to Sustainability and encourage our consumers to join us in the mission.
        </p>

    </div>
</div>

<section class="space-100">
    <h3 class="title-v2 text-center">How Are We Doing It?</h3>
    <h3 class="title-v3 text-center">Our bit for the planet</h3>
    <div class="container-fluid padding-left-0 bg6">


        <div class="col-md-7 text-left padding-left-0 "><img src="~/assets/images/sustainability1.jpg" alt="Sustainability" class="img-responsive"></div>
        <div class="col-md-4 brand-text margin-top-30">
            <h3 class="title-v2 text-left" style="color:#373737;">Sustainable Material</h3>
            <p class="text-justify">We are turning to natural and recyclable materials, using less chemicals in most of our products so that no unnecessary or harmful waste accompanies their consumption. </p>

        </div>
        <div class="col-md-1"></div>



    </div>
    <div class="container-fluid padding-right-0 bg2">
        <div class="col-md-1"></div>
        <div class="col-md-5 brand-text margin-top-30">
            <h3 class="title-v2 text-left" style="color:#373737;">Better Production</h3>
            <p class="text-justify">We source our products through companies which are utilizing production waste by recycling and reusing excess materials.</p>

        </div>
        <div class="col-md-6 text-right padding-right-0 "><img src="~/assets/images/sustainability2.jpg" alt="Sustainability" class="img-responsive"></div>




    </div>
    <div class="container-fluid padding-left-0 bg7">


        <div class="col-md-7 text-left padding-left-0"><img src="~/assets/images/sustainability3.jpg" alt="Sustainability" class="img-responsive"></div>
        <div class="col-md-5 brand-text margin-top-20">
            <h3 class="title-v2 text-left" style="color:#373737;">Less Plastic</h3>
            <p class="text-justify">Considering best interest of the planet, we source and provide products that reduce plastic consumption and are good for health. From replacing plastic water bottles with copper water bottles and plastic toothbrushes with bamboo toothbrushes, we have made a small beginning and expanding with similar interest.</p>

        </div>
        <div class="col-md-1"></div>



    </div>
    <div class="container-fluid padding-right-0 bg11">
        <div class="col-md-1"></div>
        <div class="col-md-5 brand-text margin-top-20">
            <h3 class="title-v2 text-left" style="color:#373737;">No Single Use Plastic</h3>
            <p class="text-justify">There hasn’t been a 100% solution to remove plastic. This translates to the fact that the containers we use to put our products in are made of recyclable plastic. We completely say no to single use plastic. Also, the plastic jars and bottles used for our health supplements are ‘food safe’.</p>

        </div>
        <div class="col-md-6 text-right padding-right-0 "><img src="~/assets/images/sustainability4.jpg" alt="Sustainability" class="img-responsive"></div>




    </div>
</section>

<div class="space-100 container-fluid">

    <div class="col-md-5 pad60">
        <h3 class="title-v2">How Can You Do It?</h3>
        <h3 class="title-v3">Our bit for the planet</h3>
        <p>You have got to start. It is an uphill task. But together it can happen – one step at a time not only by you but by various other consumers like you. Cut out on plastic products wherever you can however you can. It’s in the little things. Get yourself a grocery bag made of cloth or a shopping bag made of paper. Drink water in copper bottle. Buy products with fewer chemical materials in it. It’s an eco-journey you have to begin today, right now!</p>
    </div>
    <div class="col-md-7"><img src="~/assets/images/sustainability5.jpg" alt="Sustainability" class="img-responsive"></div>

</div>
<section class="space-100 bg11">
    <div class="container">


        <div class="col-md-6 pad60"><img src="~/assets/images/sustainability6.jpg" alt="Sustainability" class="img-responsive"></div>

        <div class="col-md-5 space-padding-tb-50">
            <h3 class="title-v2 text-left margin-top-60" style="color:#373737;">Sustainability Begins at the Source</h3>
            <h3 class="title-v3">Our natural clothing brand – SOOTRAM</h3>
            <p class="text-justify">
                Nylon, polyester or other synthetic clothes also termed as ‘plastic clothes’ make up for a huge portion of your wardrobe. They do help you follow the fad, but their creation pollutes the planet. The fast fashion industry accounts for 10% of global carbon emissions and polyester produce accounts for 70 million barrels of oil consumption. And that’s not where it stops. These clothes eventually end up in a landfill, taking a zillion years to perish and in this process, they litter the planet.

                We ensure we make least contribution in this. So, we are on the edge of introducing a clothing line made of natural fibers that are produced by plants under our natural clothing brand ‘SOOTRAM’ that inspires you to wear consciously. For example, cotton fibers which are made from cotton plant. The fabric made out of them feels lightweight, soft, easy on the skin and a good absorbent of sweat - quite pertinent to the hot and humid climate of India. These natural fiber clothes will be well-made and well-designed so that you don’t look out of fashion.
            </p>

        </div>
        <div class="col-md-1"></div>
    </div>
</section>
<div class="space-100 container-fluid">

    <div class="col-md-1"></div>

    <div class="col-md-5 margin-top-60">
        <h3 class="title-v2 text-left">Sustainability is Affordable</h3>
        <h3 class="title-v3 text-left">We’re practicing humble pricing</h3>
        <p class="text-justify">We are making sustainable shopping affordable. From chemical-free hair care products to natural fiber clothing and non-toxic skin care range, we have kept, and we will keep our product pricing affordable having sourced products with materials that do not compromise on the safety of planet. This is because as a conscious consumer, if you can afford sustainable products, you may never return to harmful products and that will shed some load from the planet.</p>

    </div>
    <div class="col-md-5"><img src="~/assets/images/sustainability7.jpg" alt="Sustainability" class="img-responsive"></div>
    <div class="col-md-1"></div>

</div>


