@{
    ViewBag.Title = "SwadharmaStory";
}
<div class="container-fluid container-fluid0">
    <div class="tp-banner-container hidden-dot ver2">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/images/pagebanner/swadharma-story.jpg" alt="Swadharma" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 9 -->


                    <div class="tp-caption color-white weight-300 letter-spacing-5 skewfromleft customout size-30"
                         data-x="840"
                         data-y="480"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="800"
                         data-start="1600"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">OUR STORY</div>
                </li>
            </ul>
        </div>
    </div>
    <!-- End container -->
</div>
<div class="container-fluid">
    <div class="col-md-8 center-block float-none space-padding-tb-80">
        <h3 class="title-v2 text-center">How Swadharma Came into Existence</h3>
        <p class="text-justify">
            The inception of Swadharma has its dots connected to my childhood when I had an intrinsic ‘want’ to get rich and build an affluent lifestyle on my own. As I grew up and reached the threshold of making a career choice, I had three options – to join my well-established family business, accept offer letter from a company or join Network Marketing industry in India. I chose Network Marketing as I found it to be the right medium to fulfill my ‘want’. After spending a few years in Network Marketing, I understood the true meaning of Entrepreneurship and realized what I ‘truly want’ is to help people and do greater good for the world. I started living by the concept, “Aatmano Moksharth Jagat Hitaye Che’ signifying to do greater for the world around me. So, I started working towards ways that would benefit everyone associated with me and many others. With my consistent efforts I kept scaling up as a Network Marketing Leader and inspired millions to follow suit.
            <br>
            <br>
            I was glad about the impact I could make, seeing people (whom I helped) succeed and fulfilling their desires. However, despite living an era of fulfillment of my ‘true want’, I felt something was really missing in my life. And it was my inherent quest for Spiritualism which was refueled. This made me transcend towards the fulfillment of my ‘ultimate want’ which was to explore life beyond its physical aspects. I could fulfill it when I pursued ‘Spiritual Evolvement’, practiced ‘Yogic Sciences’, explored oceans of knowledge from Indian Ancient Wisdom in the lap of my Spiritual Master SADHGURU Jaggi Vasudev. It is this Spiritual Transformation that inspired me to create a platform where these three transformational stages of my life could be led to fruition.<br>
            <br>

            Thus, the evolvement cycle from my ‘want’, ‘true want’ and ‘ultimate want’ prompted me to plant seeds for SARSO’s flagship brand Swadharma that involved a product line with a purpose of making people’s lifestyle healthier, make them go away from artificiality and fulfill their fundamental requirements related to two major aspects – a healthy life and a thriving livelihood. <br>
            <br>

            As I was nurturing the seed that I planted, I visualized Swadharma from various aspects beginning with its meaning that signifies ‘duty towards the self’ or in more simpler terms Swa (Self) Dharma (Duty). Based on its meaning, my portrayal of Swadharma was divided into various facets that define the brand’s identity today.
        </p>
        <h3 class="title-v2 text-center" style="color:#373737; font-size:16px; margin-top:25px;">Mohit Sardana (Founder, Swadharma)</h3>

    </div>
</div>





<!-- End container -->
<div class="story-box">
    <div class="container space-100">
        <div class="col-md-12">
            <div class="col-md-4 item">
                <img src="~/assets/images/story1.jpg" alt="Swadharma" class="image">
                <div class="overlay">
                    <div class="text">
                        <h3>Swadharma – A Movement</h3>
                        <p>It’s been years since various chemical-ridden products have been tactfully injected into our lifestyle by gimmicks and advertorials. Swadharma as it was thought about would be a mass movement to follow a chemical-free lifestyle.</p>
                    </div>

                </div>
            </div>
            <div class="col-md-4 item">
                <img src="~/assets/images/story2.jpg" alt="Swadharma" class="image">
                <div class="overlay">
                    <div class="text">
                        <h3>Swadharma – A Product Line</h3>
                        <p>Product lines mostly have categories, but Swadharma is a name for it. As a product line, Swadharma would always remind us of our duty towards ourselves inspiring us to pick only what does good to us.</p>
                    </div>

                </div>
            </div>
            <div class="col-md-4 item">
                <img src="~/assets/images/story3.jpg" alt="Swadharma" class="image">
                <div class="overlay">
                    <div class="text">
                        <h3>Swadharma – A Sustainability Practice</h3>
                        <p>It is the onus of every brand to put sustainability and protection of planet above everything else. Portraying Swadharma as a sustainability practice, we tie up with only those manufacturing partners who would carry out their processes ethically, using renewable, recyclable materials for manufacturing while advocating minimal use of plastic or using alternative materials that comply with sustainability practices.</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-4 item">
                <img src="~/assets/images/story4.jpg" alt="Swadharma" class="image">
                <div class="overlay">
                    <div class="text">
                        <h3>Swadharma is Swadeshi </h3>
                        <p>In accordance with the honorable Prime Minister of India’s ‘Make in India’ campaign, we pledged to make Swadharma a completely Indian company. Accordingly, every product which is manufactured under its umbrella has indigenous manufacturing materials, is manufactured indigenously and reflects a certain level of love for the nation. </p>
                    </div>

                </div>
            </div>
            <div class="col-md-4 item">
                <img src="~/assets/images/story5.jpg" alt="Swadharma" class="image">
                <div class="overlay">
                    <div class="text">
                        <h3>Swadharma – A Source of Life &amp; Livelihood</h3>
                        <p>This has been one of the most important portrayal of Swadharma. We imagined millions of people in the country recommending Swadharma products to one another, which translates to the fact that they are promising health for consumers, business for indigenous vendors and SMBs, income for our delivery partners, employment for our employees, a significant contribution in the country’s economic wheel and to say the least an income generation source for themselves as they would have every sale of Swadharma product compensated as per SARSO’s rewarding compensation model. </p>
                    </div>

                </div>
            </div>
            <div class="col-md-4 item">
                <img src="~/assets/images/story6.jpg" alt="Swadharma" class="image">
                <div class="overlay">
                    <div class="text">
                        <h3>Swadharma – An Evolution</h3>
                        <p>We have sleepwalked our way for several years to emulate a westernized culture forgetting a rich cultural history our ancestors bestowed us with. Swadharma would take us back to our roots and help us ‘evolve’ again from the principles of western culture that is fundamentally not ours. Swadharma would bring ‘Bharat’ back to India and make us all feel proud for such an evolvement. </p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<section>
    <div class="container space-20">
        <div class="col-md-1"></div>
        <div class="col-md-6"><img src="~/assets/images/swadharma_story.png" alt="Swadharma Story" class="img-responsive"></div>
        <div class="col-md-4 space-padding-tb-20">
            <h3 class="title-v2 text-left">A Dream Come True</h3>
            <p>With round the clock brainstorming, researching, and devotion of various sleepless nights, Mr. Sardana could come up with these portrayals of a brand and brought it into existence. For him Swadharma was like a dream come true to touch the intricate lifestyle needs of his fellow citizens and most importantly building a healthier and financially stronger nation. Swadharma is the intersection of the three stages of his evolvement - ‘want’, ‘true want’ and his ‘ultimate want’ as it fulfills these objectives, he realized at different phases of my life.</p>

        </div>
        <div class="col-md-1"></div>
    </div>
</section>
