@{
    ViewBag.Title = "Swadharma";
}
<div class="container-fluid container-fluid0">
    <div class="tp-banner-container hidden-dot ver2">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/images/pagebanner/swadharma.jpg" alt="Swadharma" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 9 -->

                    <div class="tp-caption color-white customin randomrotateout font-play tp-resizeme size-60"
                         data-x="720"
                         data-y="470"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="500"
                         data-start="2000"
                         data-easing="Power4.easeOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         style="z-index: 3">A REVOLUTION</div>
                    <div class="tp-caption color-white weight-300 letter-spacing-5 skewfromleft customout size-30"
                         data-x="600"
                         data-y="520"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="800"
                         data-start="1600"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">FOR SUSTAINABLE WELLNESS PRACTICES</div>
                </li>
            </ul>
        </div>
    </div>
    <!-- End container -->
</div>
<div class="container-fluid">
    <div class="col-md-7 center-block float-none space-padding-tb-80">
        <h3 class="title-v2 text-center">Healthy Living is Not Rocket Science</h3>
        <h3 class="title-v3 text-center">Just a few things done right</h3>
        <p class="text-justify">
            Swadharma signifying ‘duty towards the self’ is poised to make people aware of their health and inner wellbeing. It deeply digs reams of knowledge found in Indian Ancient Wisdom and codifies a way of living that nurtures human body, helps aligning inner mechanism and keeps oneself immune to generally occurring ailments. Swadharma is a revolution to embrace a natural lifestyle that decodes the ideal way of living. <br>
            <br>
            The world is facing challenging times due to the outbreak of a virus. But it has certainly made us more conscious about our being. Isn’t it? We know there is an invisible threat to our lives and so we are taking all possible precautions to save ourselves from it. Whatever is prescribed for its prevention, we are doing it. That in a way is being conscious.<br>
            <br>
            The similar thing applies to our life during these times and in normalcy. If you are conscious about what you do, what you eat, how you think and most importantly how you carry out this machine called human body – wouldn’t your life change for the better? Swadharma is all about helping you achieve this level of consciousness.
        </p>
    </div>
</div>
<section class="bg4 space-100">
    <div class="container bg2 space-padding-tb-80">
        <div class="col-md-6 pad30">
            <h3 class="title-v2 text-left">Food Should be a Conscious Choice</h3>
            <h3 class="title-v5 text-left">“How we eat food is as important as what we eat” - Sadhguru</h3>
            <p class="text-justify">
                We have been taught to eat healthy since our childhood, yet we give in to taste and have food with low nutritional value. Vegetables, fruits, whole grains, healthy proteins, water instead of sugary beverages are common recommendations for intake. However, we must always focus on the diet quality. It translates to the notion that the type of carbohydrates in the diet is more important than the amount of carbohydrates in the diet. <br>
                <br>
                Various people tie their food choices to religious beliefs. But as a sensible human being, you should not leave it on your religion to decide your choices for food. Food is the fuel that drives you. Considering the good and bad of it, you must figure out yourself, which type of food works the best for you. To make your food intake more effective, here are some facts you should be conscious of. <br><br>

                <ul>
                    <li><i class="fa fa-check color-golden"></i>  Food should be consumed within 1.5 hours of cooking or getting off the stove.</li>
                    <li><i class="fa fa-check color-golden"></i>   A fruit is fully digested within 1.5 to 3 hours. </li>
                    <li> <i class="fa fa-check color-golden"></i> Cooked vegetables take 12-15 hours for digestion.</li>
                    <li> <i class="fa fa-check color-golden"></i> Cooked cereals take 24 to 30 hours to digest.</li>
                    <li><i class="fa fa-check color-golden"></i> Raw meat takes 72 hours to digest.</li>
                    <li> <i class="fa fa-check color-golden"></i> Cooked meat takes 48 to 52 hours to digest.</li>
                </ul><br>

                The longer your food remains in your body higher are the possibilities of bacterial birth within your system. So, what to eat, how much to eat and when to eat should always be a conscious choice.
            </p>
        </div>
        <div class="col-md-6 pad20"><img src="~/assets/images/food.jpg" alt="" class="img-responsive"></div>
    </div>
</section>
<section>
    <div class="container space-50">
        <div class="col-md-1"></div>
        <div class="col-md-6 pad20"><img src="~/assets/images/yoga.jpg" alt="Yoga" class="img-responsive"></div>
        <div class="col-md-4 space-padding-tb-100">
            <h3 class="title-v2 text-left">Can Yoga Help You?</h3>
            <h3 class="title-v5 text-left">
                “The science of yoga is quite simply the science of being in perfect alignment, in absolute harmony,
                in complete sync with existence.” - Sadhguru
            </h3>
            <p class="text-justify">For most people, yoga is just another form of exercise which is related to ancient times. But, that’s not what Yoga is. Yoga is a tool to raise your capability. Ever wondered why you do not function at the same level of energy as some of your friends or colleagues? All humans are made of the same energy. But, why do only a few stand out? Why does someone’s energy function better than you? It is because they have better control over their inner energies. People who follow Yogic Practices get enabled to exercise control over their energies. Yoga is a tool, a technology to activate your energies so that you can carry out things you never imagined were possible. </p>
        </div>
        <div class="col-md-1"></div>
    </div>
</section>

<section class="bg4 pad100">
    <div class="container bg5 padding-left-0 padding-right-0">
        <div class="col-md-6 brand-img"><img src="~/assets/images/joyful.jpg" alt="Joyful" class="img-responsive"></div>
        <div class="col-md-6 space-padding-tb-50">
            <div class="pad40">
                <h3 class="title-v2 text-left" style="color:#373737;">Being Naturally Joyful</h3>
                <h3 class="title-v5 text-left">
                    “Joy is a natural phenomenon. Misery is your creation.”
                    - Sadhguru
                </h3>
                <p class="text-justify">Over 70% of human ailments are self-created as the very source of their creation is within us. However, the same source which can create problems also holds the power to solve them. If we learn to engineer our inner mechanism, joy &amp; good health will flow naturally. But what is it that can put our physical and mental health in complete harmony? It is meditation. There are numerous effects of meditation on us. Various studies have found meditation to turn around our system for the better. It improves our cardiac health, establishes greater coherence within the brain, improves focus &amp; attention span and makes our sleep quality better. Well, these are just a few of its endless health perks. The bottom line – being meditative is a state that creates harmony among the body, mind, emotion and energy making our life’s flow joyful.</p>
            </div>
        </div>
    </div>
</section>
<div class="container space-100">
    <div class="col-md-7 center-block float-none space-padding-tb-100">
        <h3 class="title-v2 text-center">What Ayurveda Says about your Body Type</h3>
        <h3 class="title-v5 text-center">“The same dimension that made Krishna or Jesus who they were, exists within you and people around you. It just needs your attention to blossom.” – Sadhguru</h3>
        <p class="text-center">One of the most significant components of Indian Ancient Wisdom – Ayurveda explains that the human body is made up of five elements: Air, Space, Fire, Water and Earth. These elements in their biological form are known as Doshas namely Vatta, Pitta, and Kapha. These 3 elements create unique physical, mental, and emotional characteristics among a human being.  </p>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-4 wow slideInLeft" data-wow-duration="2s" data-wow-delay="0.4s">
        <h3 class="title-v2 text-center">Vatta</h3>
        <img src="~/assets/images/vatta.jpg" alt="Vatta" class="img-responsive">
        <p class="text-justify space-padding-30">Vata relates to movement in the body (blood circulation, digestion, activity in the nervous system and brain). Vata body types usually have small body frames and can be overactive, indecisive, nervous, concerned and fearful. According to Ayurveda, Vatta personalities are generally slim and can eat whatever they want without putting on weight. Vata skin is Normal to Dry while hair trends to be prone to dryness and frizziness, hence needs to be conditioned and nourished regularly.</p>
    </div>
    <div class="col-md-4 wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
        <h3 class="title-v2 text-center">Pitta</h3>
        <img src="~/assets/images/pitta.jpg" alt="Pitta" class="img-responsive">
        <p class="text-justify space-padding-30">Pitta controls chemical transformations related to energy, digestion and metabolism. Pitta dispositions are often impatient and easily angered or irritated. Because they are aggravated by heat, they should avoid heat-inducing food, hot weather and alcohol. Pitta dispositions need to be cooled. Pitta skin is generally Normal with the forehead, nose and chin generally oily and the rest is dry. They generally have lustrous and manageable hair, which is prone to premature greying.</p>
    </div>
    <div class="col-md-4 wow slideInRight" data-wow-duration="2s" data-wow-delay="0.5s">
        <h3 class="title-v2 text-center">Kapha</h3>
        <img src="~/assets/images/kapha.jpg" alt="Kapha" class="img-responsive">
        <p class="text-justify space-padding-30">Kapha relates to fluid balance and the physical structure of the body (fat, tissues, muscles). Kapha is calm and relaxed and can gain weight easily. When not in balance, their metabolism slows, resulting in sluggishness, lethargy and depression. Kapha is prone to putting on weight even with a regular diet. Kapha skin is generally Normal to Oily, hair tends to be thick and lustrous, and however, it is prone to oiliness which needs to be balanced..</p>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-7 float-none center-block"><p class="text-center">A sustainable wellness practice would require you to determine the most dominant Dosha in your constitution and reshape your lifestyle to create a balance among these elements. </p></div>
</div>
<!-- End container -->
<div class="product-box">
    <div class="container space-100 space-padding-tb-80">
        <h3 class="title-v2 text-center">Fixing Your Lifestyle</h3>
        <h3 class="title-v3 text-center">Our Thoughtful Product Line</h3>
        <div class="col-md-12">
            <div class="col-md-6 item">
                <img src="~/assets/images/tamra.jpg" alt="Tamra" class="image">
                <div class="overlay">
                    <div class="text">
                        <h3>Water Consumption</h3>
                        <p>Drinking water stored in a copper vessel is super healthy. Swadharma reestablishes this notion through its range of copper water bottles.</p>
                    </div>

                </div>
            </div>
            <div class="col-md-6 item">
                <img src="~/assets/images/bathing.jpg" alt="Bathing" class="image">
                <div class="overlay">
                    <div class="text">
                        <h3>Bathing</h3>
                        <p>Bathing involves cleaning hair &amp; body mostly through chemical-ridden products. Swadharma provides chemical-free shampoo, conditioner, body wash and natural soap in this direction.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 item">
                <img src="~/assets/images/drinking_tea.jpg" alt="Amrita" class="image">
                <div class="overlay">
                    <div class="text">
                        <h3>Drinking Tea</h3>
                        <p>Regular consumption of caffeinated tea does more harm than good. Swadharma’s non-caffeinated powder mix of 11 Ayurvedic herbs AMRITA is a healthier substitute for tea.</p>
                    </div>

                </div>
            </div>
            <div class="col-md-6 item">
                <img src="~/assets/images/orak_care.jpg" alt="Oral Care" class="image">
                <div class="overlay">
                    <div class="text">
                        <h3>Oral Care</h3>
                        <p>Plastic toothbrushes can damage our teeth by leaking out toxins. Swadharma’s biodegradable Bamboo Toothbrush is arriving soon, which is a healthier &amp; eco-friendly way for precise oral care.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 item">
                <img src="~/assets/images/nutrition.jpg" alt="Nutrition" class="image">
                <div class="overlay">
                    <div class="text">
                        <h3>Nutrition</h3>
                        <p>Swadharma endeavors to replace the consumption of processed food with naturally nutritive products like raw honey, herbal syrups and malt. </p>
                    </div>

                </div>
            </div>
            <div class="col-md-6 item">
                <img src="~/assets/images/ayurvedic_meds.jpg" alt="Ayurvedic Meds" class="image">
                <div class="overlay">
                    <div class="text">
                        <h3>Ayurvedic Meds</h3>
                        <p>Swadharma brings forth Ayurvedic meds made of authentic plant extracts for daily consumption which in turn foster our immune system and keep our body balanced.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 item float-none center-block">
                <img src="~/assets/images/clothing.jpg" alt="Clothing" class="image">
                <div class="overlay">
                    <div class="text">
                        <h3>Clothing</h3>
                        <p>Swadharma advocates natural clothing fiber to ensure your physical and mental health always stays at ease as the kind of clothes we wear impact both dimensions of our health.</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<section>
    <div class="container space-20">
        <div class="col-md-1"></div>
        <div class="col-md-6"><img src="~/assets/images/swadharma_story.jpg" alt="Swadharma Story" class="img-responsive"></div>
        <div class="col-md-4 space-padding-tb-20">
            <h3 class="title-v2 text-left" style="color:#d4bc6e;">Our Story</h3>
            <h3 class="title-v3 text-left">The tale of want, true want and the ultimate want</h3>
            <p class="text-justify">The inception of Swadharma has its dots connected to the childhood of one man who created this brand. From a ‘want’ for personal growth, it grew up to his ‘true want’ for helping the society and his ‘ultimate want’ to dedicate his life evolution for the betterment of nation. It reflects the three stages of evolution of a human being where one evolves from ‘I’ to ‘Us’. </p>
            <div class="box space-padding-tb-30 space-30"> <a class="link-v1 lh-20" href="~/Home/SwadharmaStory" title="Read More" style="background:#d4bc6e;">Read More</a> </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</section>