@{
    ViewBag.Title = "Tamra";
}

<div class="container-fluid container-fluid0">
    <div class="tp-banner-container hidden-dot ver2">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/images/pagebanner/tamra.jpg" alt="tamra" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 9 -->


                    <div class="tp-caption color-white weight-300 letter-spacing-5 skewfromleft customout size-30"
                         data-x="790"
                         data-y="530"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="800"
                         data-start="1600"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">A SIP OF HEALTH</div>
                </li>
            </ul>
        </div>
    </div>
    <!-- End container -->
</div>
<div class="container-fluid">
    <div class="col-md-7 center-block float-none space-padding-tb-80">
        <h3 class="title-v2 text-center">Copper: A Lost Tradition</h3>
        <h3 class="title-v3 text-center">The Purpose Behind Using Copper Vessels</h3>
        <p class="text-center">Modernity has made us oblivion of our traditional greatness. The tarnished old copper cutlery that lies unused in your kitchen today was brought by your grandparents with a purpose, fundamentally for health restoration. But you have replaced it mostly with plastic or other materials because they are modern, affordable and convenient. And that’s not a good sign for your health. </p>
    </div>
</div>
<section class="bg1 space-100">
    <div class="container">
        <div class="col-md-6 pad60"><img src="~/assets/images/tamra1.jpg" alt="Tamra" class="img-responsive"></div>

        <div class="col-md-5 brand-text margin-top-60">
            <h3 class="title-v2 text-left" style="color:#fff;">Recharge Your Water</h3>
            <h3 class="title-v3" style="color:#fff;">Storing Water in Copper Vessels</h3>
            <p class="text-justify" style="color:#fff;">Water has no form of its own. It becomes just like the source it has been stored in. If you store it in a plastic bottle, it will ingest micro elements of plastic, which will eventually go into your body as you drink or use it to prepare food. Water mostly enters your house through lead or plastic pipes and in this process, it ingests much of its elements. But if you store it in a copper vessel overnight or at least for four hours, it acquires quality from copper, which is good for your overall health as it balances your body’s pH level and particularly promises good health for your liver.</p>

        </div>


    </div>
</section>
<section class="space-100">
    <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-5 brand-text">
            <h3 class="title-v2 text-left">
                Plastic: A Threat to Your<br>
                Health &amp; Environment
            </h3>
            <h3 class="title-v3">It’s Popular but Harmful</h3>
            <p class="text-justify">It’s convenient to use plastic bottles to store water and carry them around. But it is daunting to know the amount of harm they do to your body. Most plastic bottles contain an injurious chemical called BPA. It is found in polycarbonate plastics which are often used to make containers that store food and beverages. Many studies have found BPA as one of the most harmful chemicals leading to serious cardiovascular diseases and reportedly can also cause Alzheimer’s disease. Plastic as you know takes years to decompose. Most household plastic waste ends up in oceans and results in massive destruction of the nautical life. Plastic water bottles take a sea of years to break down and keep littering the planet. Recycling even 100% recyclable plastic is not a piece of cake. Our TAMRA product line has been introduced to bring a healthy tradition of using copper products back to India and solve the problem of alarming pollution caused by items made of plastic. </p>

        </div>


        <div class="col-md-6 pad50"><img src="~/assets/images/tamra2.jpg" alt="Tamra" class="img-responsive"></div>
    </div>
</section>
<section class="bg9 pad100 space-100">
    <div class="container bg2 padding-left-0 padding-right-0">
        <div class="col-md-6 brand-img"><img src="~/assets/images/tamra3.jpg" alt="Tamra" class="img-responsive"></div>
        <div class="col-md-6">
            <div class="pad60 margin-top-30">
                <h3 class="title-v2 text-left" style="color:#876152;">
                    TAMRA<br>
                    Supporting a World of Craftspeople
                </h3>
                <h3 class="title-v3">Bringing Craftsmanship in the Center</h3>
                <p class="text-justify">Run your own business without any upfront investment. Avoid the hassle of establishing an office space and arranging massive amounts of capital. Simply contact us and begin your SARSO Business journey anytime anywhere. Recommend and sell our high-quality lifestyle and wellness products to get incentivized as per industry’s most rewarding compensation model.</p>

            </div>
        </div>
    </div>
</section>
<section>
    <div class="container space-20">
        <div class="col-md-1"></div>
        <div class="col-md-5"><img src="~/assets/images/tamra4.jpg" alt="Tamra" class="img-responsive"></div>
        <div class="col-md-5 margin-top-60">
            <h3 class="title-v2 text-left">Beauty Meets Utility </h3>
            <h3 class="title-v3 text-left">TAMRA is Beautiful &amp; Useful</h3>
            <p class="text-justify">Our product line is handcrafted using traditional engraving techniques, hammered to perfection for minimalistic designs and matt finished with precision by skilled artisans to provide a modern looking yet beneficial product for use. All of our bottles are leakproof, lightweight and thus easy to carry while practicing Yoga, exercising in the gym or to going the office. The same rule applies to our vessels and other items which are made of pure high-grade copper, food-safe copper (wherever applicable), and made to last a lifetime. </p>

        </div>
        <div class="col-md-1"></div>
    </div>
</section>


