<div class="container-fluid container-fluid0">
    <div class="tp-banner-container hidden-dot ver3">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/images/pagebanner/terms.jpg" alt="terms" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 9 -->


                    <div class="tp-caption color-white customin randomrotateout font-play tp-resizeme size-50"
                         data-x="680"
                         data-y="250"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="500"
                         data-start="2000"
                         data-easing="Power4.easeOut"
                         data-splitin="chars"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         style="z-index: 3">
                        Terms &amp; Conditions
                    </div>

                </li>
            </ul>
        </div>
    </div>
    <!-- End container -->
</div>
<div class="container space-padding-tb-80">
    <div class="col-md-10 center-block float-none">
        <p class="text-justify space-30">Please read these Terms and Conditions of the "Agreement" carefully before using this website. By using www.sarsobiz.net or any other websites (collectively, “SARSO Websites"), owned and operated by SARSO Biznet International Pvt. Ltd, (referred to herein as "SARSO," "we," "us" and "our" ), you agree to be bound by this Agreement. If you do not agree to the terms and conditions of this Agreement, please do not use any of the SARSO Websites. SARSO reserves the right to change this Agreement, in whole or in part, from time to time at our sole discretion, and to provide you with notice of such change by any reasonable means, including without limitation posting the revised draft of this Agreement on the SARSO Websites. You should always check this Agreement prior to using the SARSO Websites. Your continued use of the SARSO Websites following the posting of changes to this Agreement will mean that you accept those changes. </p>
        <h3 class="title-v2">For purposes of this Agreement, the following terms have the following meanings:</h3>

        <p>
            •	<strong>SARSO Merchandise Combo:</strong> As the name suggests, this category has Combos containing more than one merchandise of one or different categories. These products are listed under Super Combos Category on the website. <br>
            •	<strong>Customer:</strong> A person who buys any SARSO Product(s) from a SARSO Sales Representative/SBO is termed as a Customer.<br>
            •	<strong>Registered SARSO Customer:</strong> A Purchaser who is introduced to www.sarsobiz.net through an SBO for shopping online and submits his/her KYC details and gets a Unique Customer ID with a Password to access www.sarsobiz.net is termed as Registered SARSO CUSTOMER. A registered customer has the opportunity to become a Sales Representative/Distributor of SARSO and earn by retailing our quality products by referring others to shop at www.sarsobiz.net <br>
            •	<strong>SARSO Distributor / Independent Sales Representative/SARSO Business Owner/SBO </strong>is a) An individual who has agreed, pursuant to the terms of SARSO Distributorship Contract, to be a SARSO Independent Sales Representative, (b) Who remains an active SARSO Independent Sales Representative in good standing, and (c) Whose SARSO Independent Sales Representative Contract / Distributorship Contract or status as an Independent Sales Representative has not been terminated. <br>
            •	<strong>SARSO Distributorship Contract or Independent Sales Representative Contract</strong> means SARSO's Independent Sales Representative Contract, collectively with the SARSO Independent Sales Representative Terms and Conditions and any Policies and Procedures attached to or accompanying such contract. The SARSO Independent Sales Representative / SARSO Distributor / SARSO Business Owner shall be collectively called the “SBO”. If you are an SBO, you acknowledge and agree that your use of the SARSO WEBSITES is subject not only to this Agreement, but also to the terms and conditions contained in your SARSO Independent Sales Representative Contract.
            You are compensated as per the Business model SICP (SARSO Imperial Career Plan) as explained inside the SBO Panel. All the terms mentioned there also for the part of this agreement. You are suggested to read them before signing the Contract. <br>
            •	<strong>Note regarding SARSO Distributor/Independent Sales Representative /SBO</strong> SARSO Independent Sales Representative /SBOs are independent third-party contractors of SARSO and are not otherwise affiliated with SARSO. SARSO is not responsible or liable for the statements, acts or omissions of SBO, whether through or in connection with the SARSO WEBSITES, "offline," or otherwise. No joint venture, partnership, employment, or agency relationship exists between SBO and SARSO as a result of this Agreement or use of the SARSO Products. SARSO has not taken any steps to confirm the accuracy or reliability of any materials communicated by the SBO to you and makes no representations or warranties as to the security of any communications between you and any SARSO Independent Representative/SBO. <br>
            •	You need to submit your KYC details within 30 days of the date of Registration. If the KYC details are not submitted in 30 days, you shall not be entitled to the commission of any previous period.

        </p>
        <h3 class="title-v2 margin-top-30">2. Restricted Uses</h3>
        <p>
            The SARSO WEBSITES are owned and operated by SARSO. The contents of the SARSO WEBSITES are copyrighted under Indian copyright laws. Except as stated herein, none of the material on the SARSO WEBSITES may be <strong>copied, reproduced, distributed, republished, uploaded, displayed, posted or transmitted in any way whatsoever.</strong> Subject to your compliance with this Agreement, and solely for as long as you are permitted by SARSO to access and use the SARSO WEBSITES, you may download one (1) copy of any particular material from the SARSO WEBSITES for your own personal, non-commercial use, provided that you agree to abide by any copyright notice or other restrictions contained in or applicable to such materials, including any author attribution, copyright or trademark notice or restriction in any such material that you download. Modification of the materials, or use of the materials for any other purpose, whether commercial or noncommercial, is a violation of SARSO's copyright and other proprietary rights. <br>
            <br>

            "SARSO" and the other SARSO trademarks, trade names, service marks and logos appearing on the SARSO WEBSITES are proprietary trademarks of SARSO. The use of any of our trademarks or any other content made available through the SARSO WEBSITES, except as expressly provided in this Agreement, is strictly prohibited.
        </p>

        <h3 class="title-v2 margin-top-30">3. Information Submitted Through SARSO WEBSITES</h3>
        <p>
            You represent and warrant that any information you provide in connection with your use of the SARSO WEBSITES is true, accurate and complete, and that you will maintain and update such information as needed, such that the information remains true, accurate and complete.
        </p>
        <h3 class="title-v2 margin-top-30">4. Registration; User Names and Passwords</h3>
        <p>You may be required to register with SARSO in order to access certain areas of the SARSO WEBSITES, for example, to purchase SARSO products or otherwise initiate Transactions (as defined below). With respect to any such registration, we may refuse to grant you, and you shall not use, a user name or email address that belongs to or is already being used by another person; that may be construed as impersonating another person; that violates the intellectual property or other rights of any person; that is offensive; or that we reject for any other reason in our sole discretion. You are solely responsible for maintaining the confidentiality of any password you may use to access the SARSO WEBSITES, and you agree not to transfer your password or user name, or lend or otherwise transfer your use of or access to the SARSO WEBSITES, to any third party. You are fully responsible for all Transactions (including any information transmitted in connection with any Transactions) and other interactions with the SARSO WEBSITES that occur in connection with your user name. You agree to immediately notify SARSO of any unauthorized use of your password or user name or any other breach of security related to your account, your user name or the SARSO WEBSITES, and to ensure that you "log off" and exit from your account with the SARSO WEBSITES (if applicable) at the end of each session. We are not liable for any loss or damage arising from your failure to comply with any of the foregoing obligations. </p>
        <h3 class="title-v2 margin-top-30">5. Privacy Policy</h3>
        <p>
            At SARSO, we respect every individual's right to privacy and are committed to protecting the same and ensuring the security of the information you submit to us. We refer to and treat this information as "personal information". We reserve the right to disclose or report personal information in limited circumstances where we believe in good faith that disclosure is required under law, to cooperate with regulators or law enforcement authorities, or to protect our rights or property. <br>
            <br>
            We use your personal information in ways that are compatible with the purposes for which we originally required/asked for. We may use your email address, mailing address and/or phone number to provide quality customer support or to reach you regarding order status, product or fulfillment issues and other customer service-related activities. We may use your email address, mailing address and/or phone number to contact you regarding new product offerings, newsletters and other aspects of your use of the SARSO Sites. <br>
            <br>
            We limit the collection and use of personal information to what is necessary to administer our business and to deliver superior service to you. This may include conducting surveys regarding current or future SARSO products. Participation in these surveys is always optional. Survey responses are only used in the aggregate and are never linked to an individual. While our survey data is primarily for use within SARSO only, we may occasionally share the aggregate survey data with our Associate Partners in order to facilitate new product development and improve customer service and overall customer satisfaction. <br>
            <br>
            When we share personal information with an affiliate, we protect that personal information with a strict confidentiality agreement. Companies that we hire to provide support services or act as our agent must conform to our privacy standards. <br>
            <br>
            SARSO corporate policies require that employees with access to confidential customer information may not use or disclose the information except for business use. All employees are required to safeguard such information, as specified in their confidentiality agreements with SARSO. <br>
            <br>
            We continue to evaluate our efforts to protect personal information and make every effort to keep your personal information accurate and up to date.<br>
            <br>
            If you identify any error in your personal information or need to make a change to that information, please contact us and we will promptly update our records. <br>
            <br>
            Distributors can update or correct their personal information at any time by visiting the "Update Profile" section in their respective online panel at www.sarsobiz.net <br>
            <br>
            If you have any questions or concerns, please contact us by e-mail at support@sarsomail.net or call us at +91 7290084343.
            <br>
            <br>
            <strong>Changes in this Privacy Statement</strong><br>
            By using our web site, you consent to the collection and use of information by SARSO as described in this Privacy Policy. If we decide to change our privacy policy, we will post those changes to this privacy statement, the home page, and other places we deem appropriate so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it. We reserve the right to modify this privacy statement at any time, so please review it frequently. If we make material changes to this policy, we will notify you here, by email, or by means of a notice on our home page.
        </p>

        <h3 class="title-v2 margin-top-30">6. Code of Conduct</h3>
        <p>
            We expect users of the SARSO WEBSITES to respect the law as well as the rights and dignity of others. While using the SARSO WEBSITES you agree to comply with all applicable laws, rules and regulations. In addition, your use of the SARSO WEBSITES is conditioned on your compliance with the rules of conduct set forth in this section, and failure to comply with these rules of conduct may result in termination of your access to the SARSO WEBSITES pursuant to Section 14 below. <br>
            <br>
            <strong>You agree not to:</strong><br>
            •	Post, transmit, or otherwise make available through or in connection with the <strong>SARSO WEBSITES: </strong><br>
            1.	Any material that would give rise to criminal or civil liability; that encourages <br>
            2.	Any virus, worm, Trojan horse, Easter egg, time bomb, spyware, or other <br>
            3.	Any unsolicited or unauthorized advertisements, promotional material, "junk use of which is or may be: (a) threatening, harassing, degrading, hateful or intimidating; (b) defamatory or libelous; (c) fraudulent or tortuous; (d) obscene, indecent, pornographic or otherwise objectionable; or (e) protected by copyright, trademark, trade secret, right of publicity or privacy or any other proprietary right. Conduct that constitutes a criminal offense; or that encourages or provides instructional information about illegal activities or activities such as "hacking," "cracking," or "phreaking." Computer code, file, or program that is harmful or invasive or that may or is intended to damage, hijack, disable, interfere with, or disrupt the operation of, or monitor the use of, any hardware, software or equipment. Mail," "spam," "chain letter," "pyramid scheme" or investment opportunity, or any other form of solicitation that is not expressly approved by SARSO in advance. <br>
            4.	Any personally identifiable information of another individual, without the prior consent of such individual <br>
            5.	Any material, non-public information about a company, without the proper authorization to do so.<br>
            •	Use the SARSO WEBSITES for any fraudulent or unlawful purpose.<br>
            •	Use the SARSO WEBSITES to defame, abuse, harass, stalk, threaten or otherwise violate the legal rights of others, including without limitation to others' privacy rights or rights of publicity, or to harvest or collect information about users of the SARSO WEBSITES. <br>
            •	Impersonate any person or entity, including without limitation to any representative of SARSO; falsely state or otherwise misrepresent your affiliation with any person or entity in connection with the SARSO WEBSITES; or express or imply that we endorse any statement you make. <br>
            •	Interfere with or disrupt the operation of the SARSO WEBSITES or the servers or networks used to make the SARSO WEBSITES available; or violate any requirements, procedures, policies or regulations of such networks. <br>
            •	Restrict or inhibit any other person from using the SARSO WEBSITES (including without limitation by hacking or defacing any portion of the SARSO WEBSITES). <br>
            •	Use the SARSO WEBSITES to advertise or offer to sell or buy any goods or services for any business purpose, without SARSO's express prior written consent. <br>
            •	Reproduce, duplicate, copy, sell, resell, link to or otherwise exploit for any commercial purposes, any portion of, use of, or access to, the SARSO WEBSITES. <br>
            •	Modify, adapt, translate, reverse engineer, decompile or disassemble any portion of the SARSO WEBSITES. <br>
            •	Remove any copyright, trademark or other proprietary rights notice from the SARSO WEBSITES or materials originating from the SARSO WEBSITES. <br>
            •	Frame or mirror any part of the SARSO WEBSITES.<br>
            •	Create a database by downloading and storing SARSO WEBSITES’ content.<br>
            •	Use any robot, spider, site search/retrieval application or other manual or automatic device to retrieve, index, "scrape," "data mine" or in any way gather SARSO WEBSITES’ content or reproduce or circumvent the navigational structure or presentation of the SARSO WEBSITES without SARSO's express prior written consent. <br>
            Additionally, you acknowledge and agree that you (and not SARSO) are responsible for obtaining and maintaining all telecommunications, broadband, and computer hardware, equipment, and services needed to access and use the SARSO WEBSITES, and for paying all charges related thereto.
        </p>
        <h3 class="title-v2 margin-top-30">7. Forums and Submissions</h3>
        <p>
            SARSO may offer features through the SARSO WEBSITES that enable you to post information and materials publicly, for example, bulletin boards, chat areas, and similar forums (collectively referred to herein as "Forums"). All of the rules of conduct described in Section 5 above apply to the Forums. Additionally, without SARSO's express prior written consent, you may not use the Forums for any commercial purposes, including the promotion or advertisement of any goods, services or opportunities, and you may not use the Forums to solicit other SARSO WEBSITE visitors or users to visit or become members of, subscribe to or register with any commercial online service or other organization. <br>
            <br>
            When you submit or make available any information or materials through the Forums or otherwise through any SARSO WEBSITE ("Submissions"), you acknowledge and agree that those Submissions will be non-proprietary and non-confidential, may be made available to the general public, and may be used by SARSO without restriction. You grant to SARSO the worldwide, perpetual, royalty-free, irrevocable, nonexclusive right and license, sub licensable through multiple tiers, without compensation to you, to use, reproduce, distribute (through multiple tiers), adapt (including without limitation edit, modify, translate and reformat), create derivative works of, transmit, publicly display, publicly perform, digitally perform, make, have made, sell, offer for sale and import all Submissions, in any media now known or hereafter developed, for any purpose whatsoever, commercial or otherwise. You represent and warrant that you have all rights necessary for you to grant the licenses granted in this section with respect to each Submission, and that your provision of Submissions through the Forums or otherwise through the SARSO WEBSITES complies with all applicable laws, rules and regulations. You further irrevocably waive any "moral rights" or other rights with respect to attribution of authorship or integrity of materials regarding any Submission that you may have under any applicable law or under any legal theory. This section will survive termination of this Agreement for any reason. <br>
            <br>
            We reserve the right, at our sole discretion, to edit any Submission and to choose to include or not include such Submission in the Forums or otherwise in the SARSO WEBSITES. The Forums include the opinions, statements and other content of third parties, including SARSO Independent Parties. We are not responsible for screening, monitoring or verifying such content, including such content's accuracy, reliability or compliance with copyright or other laws. Any opinions, statements or other materials made available by third parties (including SARSO Independent Parties) through the Forums or otherwise through the SARSO WEBSITES are those of such third parties and not of SARSO, and SARSO does not endorse any such opinions, statements or materials. We may remove objectionable statements or other content from the SARSO WEBSITES at any time if we deem removal to be warranted. Please understand that removal or editing of any Submission or other materials may not occur immediately. <br>
            <br>
            You acknowledge and agree that SARSO has no control over, and shall have no liability for any damages resulting from, the use (including without limitation e-publication) or misuse by any third party of information voluntarily made public through the Forums or any other part of the SARSO WEBSITES. <strong>IF YOU CHOOSE TO MAKE ANY OF YOUR PERSONALLY IDENTIFIABLE INFORMATION OR OTHER INFORMATION PUBLICLY AVAILABLE THROUGH THE FORUMS OR OTHERWISE THROUGH THE SARSO WEBSITES, YOU DO SO AT YOUR OWN RISK. </strong>
        </p>
        <h3 class="title-v2 margin-top-30">8. Contests and Similar Promotions</h3>
        <p>
            Any Promotional Offer/ Contest, or similar Special Deal made available through any SARSO WEBSITES may be governed by specific rules that are separate from this Agreement. By participating in any such contest, or promotion, you agree to become subject to those rules, which may vary from the terms and conditions set forth herein. SARSO urges you to read the applicable rules, if any, which will be linked from the particular activity, and to review the Security and Privacy Statement, which, in addition to this Agreement, will govern any information you submit in connection with such activities.
        </p>
        <h3 class="title-v2 margin-top-30">9. General Terms of usage for Purchaser/Customer</h3>
        <p>

            •	If you wish to purchase any product or service or to make a payment to your SARSO account through a SARSO WEBSITE (each such purchase or other transaction, a "Transaction"), you may be asked to supply certain information relevant to your Transaction, including without limitation to, Details of Mode of payment used, your billing address and your shipping information or bank account number. Any such information provided through the SARSO WEBSITES will be treated by SARSO in accordance with this Agreement and the Privacy Statement. Verification of information may be required prior to the acknowledgment or completion of any Transaction. SARSO reserves the right, with or without prior notice, (a) to change product or service descriptions, images and references; (b) to limit the available quantity of any product or service; (c) to honor, or impose conditions on the honoring of, any coupon, coupon code, promotional code, incentive offer or other promotion; (d) to prevent or prohibit any user or customer from making any or all Transaction(s); and/or (e) to refuse to provide any user or customer with any product or service. Price and availability of any product or service offered through the SARSO WEBSITES are subject to change without notice, and SARSO shall not be responsible for errors in the prices or descriptions of such products or services. Refunds and exchanges will be subject to SARSO's refund and exchange policies then in effect. You agree to pay all charges that may be incurred by you or on your behalf through the SARSO WEBSITES, at the price(s) in effect when such charges are incurred, including without limitation to all shipping and handling charges. In addition, you remain responsible for any taxes that may be applicable to your Transactions. <br>
            •	You as our Customer will not use the Product / Educational software of the company in a manner, which defies any law or public policy or is contrary to any of the terms and conditions of this Agreement. <br>
            •	You will not copy, reproduce, redistribute, resell or make unlawful use of the Product or Services or Business plan or software or contents of the website of the company and any such violation will automatically lead to termination of this Agreement by the company in addition to the privileged customer rendering himself liable to prosecution under the applicable civil & criminal laws.
            Buy-back Policy<br>
            <br>
            The SARSO Business Owners (SBOs)/ Independent Sales Representatives present across the nation aptly undertake the customers’ concern of purchase through their product demonstrations. Not only do they demonstrate the product but also give them detailed information about the same. With this the customers savor a gratifying shopping experience with SARSO. <br>
            <br>
            While the sale of SARSO merchandise dwells on the word of mouth mechanism, the customers essentially make purchase of a product having seen it beforehand through SBOs. Seeing the product and having vital information about it handy, if still a customer wants to return a product, he/she can submit a request for refund within 30 days from the date, the order is being placed. As such, the amount will be refunded to the customer’s e-wallet or bank account as per their request. If the request for refund is received before the dispatch of products, 100% payable amount (as mentioned on invoice) will be given back to the customer accompanied with the reversal of CV points associated with the products.<br>
            <br>
            If the products are already dispatched, the order cancellation will be accommodated with a deduction of Rs. 100 + 20% of the invoice amount for consumable products and Rs. 100 for non-consumable products as charges for demurrages accompanied with the reversal of CV points associated with the products. The products if delivered must be returned within 7 days from receipt in their original parcel.
            However, please be strictly mindful of the fact that a request for return of product will not be accepted if in case a customer has received the product and it has been used / worn or altered, exhibits physical damage to the box or to the product, is returned without original packaging and accessories, if the serial number /tags are tampered or removed. <br>
            <br>
            <strong>Exchange Policy </strong>
            Your purchase with SARSO is protected. You can send your products back to SARSO Corporate Office within 7 days from the date the same are received at your end for exchange with a prior intimation to the company through an e-mail to be sent to support@sarsomail.net within 24 hours from the date of receipt of products. However, please be strictly mindful of the fact that a request for return / exchange of product will be not accepted if the product:<br>
            •	Is used/worn or altered.<br>
            •	Exhibits physical damage to the box or to the product.<br>
            •	Is returned without original packaging and accessories.<br>
            •	Serial Number /Price Tag is tampered or removed.<br><br>

            Also, you can send a product back for exchange if only, you received a product:<br>
            1.	In size other than ordered <br>
            2.	In colour other than ordered <br>
            3.	Delivered as defective or damaged<br>
            4.	Which is significantly different from its description given on the website.<br>

        </p>
        <h3 class="title-v2 margin-top-30"> 10. Intended Audience</h3>
        <p>Unless otherwise specified, materials made available through the SARSO WEBSITES are presented solely for the purpose of providing services and promoting products available in India. SARSO makes no representation or warranty that any SARSO WEBSITE, in whole or in part, or any products, services, or materials made available through the SARSO WEBSITES, are appropriate or available for use in other locations. Those who choose to access the SARSO WEBSITES from other locations do so on their own initiative and at their own risk and are responsible for compliance with local laws, rules and regulations, if and to the extent local laws, rules or regulations are applicable. </p>
        <h3 class="title-v2 margin-top-30">11. Links to or From Other Sites</h3>
        <p>
            Except as otherwise expressly stated by SARSO on a SARSO WEBSITE, SARSO is not affiliated or associated with operators of any third-party websites that link to or are linked from the SARSO WEBSITES. SARSO expressly disclaims any responsibility for the accuracy, content, or availability of information found on third-party websites that link to or is linked from the SARSO WEBSITES. We cannot ensure your satisfaction with any products or services that are available through any third-party site that links to or is linked from the SARSO WEBSITES because these third-party sites are owned and operated by independent entities. We do not endorse any of the products or services, nor have we taken any steps to confirm the accuracy or reliability of any of the information, made available through any third-party sites. We make no representations or warranties as to the security of any information (including without limitation to credit card and other personal information) that you may provide or be requested to provide to any third party, whether through such a third-party site or otherwise. <br>
            <br>
            <strong>YOU AGREE THAT YOUR USE OF THIRD PARTY SITES AND RESOURCES AND ANY CONTENT, INFORMATION, DATA, ADVERTISING, PRODUCTS, SERVICES, OR OTHER MATERIALS ON OR AVAILABLE THROUGH SUCH SITES AND RESOURCES IS AT YOUR OWN RISK AND IS SUBJECT TO THE TERMS AND CONDITIONS OF USE APPLICABLE TO SUCH SITES AND RESOURCES.</strong> <br>
            <br>

            SARSO shall have the right, at any time and at its sole discretion, to block links to the SARSO WEBSITES through technological or other means without prior notice.
        </p>
        <h3 class="title-v2 margin-top-30"> 12. Disclaimer</h3>
        <p>
            <strong>THE SARSO WEBSITES ARE PROVIDED "AS IS" WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. SARSO MAKES NO REPRESENTATION OR WARRANTY AS TO THE ACCURACY, RELIABILITY, TIMELINESS OR COMPLETENESS OF ANY MATERIAL ON OR ACCESSIBLE THROUGH THE SARSO WEBSITES. ANY RELIANCE ON OR USE OF SUCH MATERIALS SHALL BE AT YOUR SOLE RISK. SARSO MAKES NO REPRESENTATION OR WARRANTY (A) REGARDING THE STATEMENTS, ACTS OR OMISSIONS OF ANY SARSO INDEPENDENT PARTIES; (B) THAT THE SARSO WEBSITES WILL BE AVAILABLE ON A TIMELY BASIS, OR THAT ACCESS TO THE SARSO WEBSITES WILL BE UNINTERRUPTED, ERROR FREE OR SECURE; (C) THAT DEFECTS OR ERRORS WILL BE CORRECTED; OR (D) THAT THE SARSO WEBSITES OR THE SERVERS OR NETWORKS THROUGH WHICH THE SARSO WEBSITES ARE MADE AVAILABLE ARE SECURE OR FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.</strong> <br>
            <br>
            While we try to maintain the integrity and security of the SARSO WEBSITES and the servers from which the SARSO WEBSITES are operated, the SARSO WEBSITES may include inaccuracies, errors and materials that violate or conflict with this Agreement. Additionally, third parties may make unauthorized alterations to the SARSO WEBSITES. If you become aware of any unauthorized third-party alteration to the SARSO WEBSITES, contact us at support@sarsomail.net with a description of the material(s) at issue and the URL or location on the applicable SARSO WEBSITE where such material(s) appear.
        </p>
        <h3 class="title-v2 margin-top-30"> COLOR DISCLAIMER: </h3>
        <p>
            SARSO firmly believes that all the customers who order online are aware that colors seen on a monitor/laptop or mobile screen will be slightly different as compared to the actual products ordered. <br>

            All color options offered on the net are an exercise to provide our customers with the maximum available choice. <br>

            It is practically impossible for SARSO to replicate the same colors of a product as seen on your monitor/laptop or mobile screen. A slight variation in the shade selected by you is considered as a normal practice as products tend to reflect different shades of a color under different light and weather conditions and their final representation is also based on the screen resolutions set by the user.<br>

            We wish to clarify and ascertain that every customer who orders any product from SARSO is aware of this genuine problem. <br>

            Our effort will be to meet your expectations constantly and thus avoid any misunderstanding or discrepancies through our online venture.<br>

            We trust and have faith in our customers for making our online venture successful so that in every transaction, we can deliver and probably exceed customer expectations. <br>

            <strong>Please Note while ordering on internet; we suggest that customers should be extra careful of the following: </strong>
            1. Red, maroon and orange colors have a higher tendency to reflect a different shade than other colors. For example, even if you yourself try to photograph from a digital camera or scan a red garment, in most of the cases it will show either as maroon or orange on the computer monitor/ laptop or mobile screen. Though imaging technology has advanced, still no fool proof solution to this problem is available at the moment. <br>
            2. Many times green and blue also overlap. Same is the case with off-white, white and cream colors. <br>



        </p>
        <h3 class="title-v2 margin-top-30">13. Limitation of Liability </h3>
        <p>
            IN NO EVENT SHALL SARSO, ITS SUBSIDIARIES OR AFFILIATES, OR ANY OF THEIR RESPECTIVE EMPLOYEES, OFFICERS, DIRECTORS, AGENTS OR REPRESENTATIVES (THE FOREGOING ENTITIES, COLLECTIVELY, THE "SARSO ENTITIES") BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF (A) THIS AGREEMENT, (B) THE SARSO WEBSITES, (C) YOUR USE OF OR INABILITY TO USE THE SARSO WEBSITES, OR (D) THE ACTS OR OMISSIONS OF SARSO INDEPENDENT REPRESENTATIVES, IN EACH EVENT, EVEN IF SARSO OR SUCH PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. SARSO IS NOT RESPONSIBLE FOR ANY UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR SUBMISSIONS, TRANSMISSIONS OR DATA OR FOR ANY MATERIAL OR DATA SENT OR RECEIVED OR NOT SENT OR RECEIVED. SARSO IS NOT RESPONSIBLE OR LIABLE FOR ANY THREATENING, DEFAMATORY, OBSCENE, OFFENSIVE OR ILLEGAL CONTENT OR CONDUCT OF ANY OTHER PARTY (INCLUDING WITHOUT LIMITATION ANY SARSO INDEPENDENT PARTY), OR ANY INFRINGEMENT BY A THIRD PARTY OF ANOTHER'S INTELLECTUAL PROPERTY, PRIVACY OR OTHER RIGHTS. YOU AGREE THAT ANY CONTENT DOWNLOADED OR OTHERWISE OBTAINED BY YOU THROUGH THE USE OF SARSO WEBSITES IS DONE AT YOUR OWN RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE DONE TO YOUR COMPUTER SYSTEM, LAPTOP, MOBILE PHONE OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF SUCH CONTENT. WITHOUT PREJUDICE TO WHAT IS STATED HEREINABOVE IN THIS CLAUSE, IN NO EVENT SHALL SARSO'S TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES AND CAUSES OF ACTION (WHETHER IN CONTRACT, TORT OR OTHERWISE) ARISING FROM OR RELATED TO THIS AGREEMENT, THE SARSO WEBSITES, OR YOUR USE OF OR INABILITY TO USE THE SARSO WEBSITES EXCEED THE AMOUNT PAID BY YOU, IF ANY, FOR USING OR ACCESSING THE SARSO WEBSITES.
        </p>
        <h3 class="title-v2 margin-top-30">14. Indemnification</h3>
        <p>
            You will indemnify and hold the SARSO Entities harmless from and against any and all claims, actions, demands, causes of action, costs and expenses including attorney’s fees and other proceedings arising from or related to any of the following (the "Claims"): (a) your use of, inability to use, or activities in connection with the SARSO WEBSITES; (b) any violation of this Agreement or any other SARSO terms, conditions or policies by you or through any account you may have with any SARSO WEBSITE; (c) any Transaction; (d) any allegation that any Submission or other materials that you make available through the SARSO WEBSITES infringe or otherwise violate the intellectual property, privacy, or other rights of any third party; or (e) your violation of any rights of any SARSO WEBSITE visitor, user, or customer, or any other third party; whether directly or indirectly or against any violation of this Agreement and you agree to reimburse the SARSO Entities on demand for any damages, losses, costs, judgments, fees, fines and other expenses they incur (including attorneys' fees and court costs) as a result of any CLAIM(S).
        </p>
        <h3 class="title-v2 margin-top-30">15. Termination and Enforcement</h3>
        <p>
            This Agreement is effective until terminated by SARSO. You agree that SARSO, at its sole discretion, may terminate your access to or use of the SARSO WEBSITES, at any time and for any reason, including without limitation if SARSO believes that you have violated or acted inconsistently with the letter or spirit of this Agreement (including but not limited to your failure to comply with the Code of conduct set forth in Section 6 above). Upon any such termination, your right to use the SARSO WEBSITES will immediately cease. You agree that any termination of your access to or use of the SARSO WEBSITES may be effected without prior notice and that SARSO may immediately deactivate or delete any user name and/or password used by or provided to you, and all related information and files associated therewith, and/or bar any further access to such information or files. You agree that SARSO shall not be liable to you or any third party for any termination of your access to the SARSO WEBSITES or to any such information or files, and shall not be required to make such information or files available to you after any such termination. SARSO reserves the right to take steps that SARSO believes are necessary or appropriate to enforce and/or verify compliance with this Agreement (including without limitation in connection with any legal process relating to your use of the SARSO WEBSITES and/or a third party claim that your use of the SARSO WEBSITES is unlawful or violates such third party's rights). Please note...<br>
            •	That the SBO, during the use of this agreement shall not carry on a similar business, whether independently or in association with others, directly or indirectly and any violation of this ground will automatically lead to termination of this Agreement by SARSO in addition to the SARSO Distributor/SBO rendering himself liable to prosecution under the applicable civil &amp; criminal laws. <br>
            •	That the SARSO Distributor/SBO shall not indulge in any anti-company activities in any manner (Any lawsuit or bad propaganda against SARSO) and any violation of this ground will lead to immediate termination of this Agreement by the company. <br>
            •	That the SBO will submit a detailed report of the activities undertaken by him/her in order to promote SARSO business in any time period on being asked by the company. Failure to submit the same will lead to the termination of his/her distributorship contract with the company along with lapse of commission / incentives being made thereof.

        </p>
        <h3 class="title-v2 margin-top-30">16. Information or Complaints</h3>
        <p>If you have a general question or complaints regarding the SARSO WEBSITES, please send an email to support@sarsomail.net. You may also contact us by writing to SARSO Biznet International Pvt. Ltd Attn: SARSO SUPPORT Team, or by calling us at +91-7290084343. We encourage you to use SUPPORT link provided in your Customer Panel after login at www.sarsobiz.net.Each submission of your query or complaint will give you a unique No. to track with Support team on phone or via email. </p>

        <h3 class="title-v2 margin-top-30">  17. Waiver / Severability</h3>
        No waiver by SARSO of any breach or default hereunder will be deemed to be a waiver of any preceding or subsequent breach or default. If any provision of this Agreement shall be deemed to be unlawful, void or for any reason unenforceable, then that provision shall be deemed severable from these terms and shall not affect the validity and enforceability of any remaining provisions.
        <h3 class="title-v2 margin-top-30">18. Governing Law</h3>
        This Agreement shall be governed by the laws of India. You agree that any dispute or claim arising out of or relating to this Agreement shall be resolved only by the courts located in Delhi, India and you hereby consent and submit to the jurisdiction of such courts for the purposes of litigating any such dispute or claim.
        <h3 class="title-v2 margin-top-30">19. Miscellaneous</h3>
        This Agreement does not, and shall not be construed to, create any partnership, joint venture, employer-employee, agency or franchisor-franchisee relationship between you and SARSO. You shall not assign, transfer or sublicense any or all of your rights or obligations under this Agreement without our express prior written consent. Any heading, caption or section title like SBO contained herein is inserted only as a matter of convenience, and in no way defines or explains any section or provision hereof. This Agreement, together with all agreements and statements referred to herein and incorporated herein by reference, is the entire agreement between you and SARSO relating to the subject matter hereof and, except as otherwise provided herein, supersedes any and all prior or contemporaneous written or oral agreements or understandings between you and SARSO relating to such subject matter. Notices to you may be made by posting a notice (or a link to a notice) to any SARSO WEBSITE, by email, or by regular mail, at SARSO's discretion. Without limitation, you agree that a printed version of this Agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this Agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.
        <h3 class="title-v2 margin-top-30">20. Shipping &amp; Delivery Policy </h3>
        <p>Orders are shipped through registered Domestic courier companies only. Orders are shipped within 15 working days of your order with payment received or as per the delivery date agreed at the time of order confirmation and delivering of the shipment subject to Courier Company norms. SARSO is not liable for any delay in delivery by the courier company and only guarantees to hand over the consignment to the courier company within 15 working days from the date of the order and payment or as per the delivery date agreed at the time of order confirmation. Delivery of all orders will be to registered address of the buyer as per the online order only at all times (Unless specified at the time of Order). SARSO is in no way responsible for any damage to the order while in transit to the buyer. If a Parcel reaches at your place in a visibly damaged condition, refuse to accept and return the same to courier company then and there only and inform us immediately. If a single Invoice Value is less than Rs. 2500/-, Additional Rs. 100 plus Taxes will be charged as extra Shipping Cost.</p>
        <h3 class="title-v2 margin-top-30">Disclaimer</h3>
        <p>
            <strong>No Warranty to Accuracy</strong> <br>

            The information provided by SARSO on this website is on an "as is" basis and is for general, indicative purposes only. SARSO does not give any express or implied warranty as to the accuracy of the information contained in this website. As such, SARSO will not be liable for any errors in, omissions from, or mis-statements or misrepresentations concerning any such information and will not have or accept any liability, obligation or responsibility whatsoever for any loss or damage, including without limitation, consequential loss or damage arising from or in respect of any use or misuse of or reliance on the information delivered in this website. <br>
            <br>
            SARSO expressly disclaims any guarantee or warranty of promised future income or earning. Any claim of earning or earning potential should be treated as an opinion only and you shall not rely on it unless you have verified its accuracy. SARSO shall not be held liable to and shall not accept any liability, obligation or responsibility whatsoever for any loss or damage arising from your reliance on such claims. You do so at your own risk.
        </p>
        <h3 class="title-v2 margin-top-30">Links to Third Party Website</h3>
        <p>
            Links to third party websites may be provided in this website. The provision or assistance in providing such links is only for users' easy reference purposes only. It does not represent that SARSO agrees or do not disagree with the contents of any such external sites. SARSO will not have or accept any liability, obligation or responsibility whatsoever for the content of such external websites and will not accept any responsibility and shall not be held responsible for any loss or damage arising from or in respect of any use or misuse or reliance on the contents of any such external websites. SARSO reserves its right to delete or edit any information on this site at any time at its absolute discretion without giving any prior notice.
        </p>
    </div>
</div>
