<?xml version="1.0"?>
<configuration>
  <system.web>
  <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
    <!--<compilation targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>-->
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0">
      <baseAddressPrefixFilters>
        <add prefix="https://www.sarsobiz.net/"/>
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
    <bindings>
      <webHttpBinding>
        <binding name="Binding" crossDomainScriptAccessEnabled="true">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="httpbind" crossDomainScriptAccessEnabled="true"/>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="SARSOMobileService.SARSOMService" behaviorConfiguration="webBehaviour">
        <!--<endpoint address="" binding="webHttpBinding" bindingConfiguration="Binding" contract="SARSOMobileService.ISARSOMService" behaviorConfiguration="web"/>-->
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="httpbind" contract="SARSOMobileService.ISARSOMService" behaviorConfiguration="web"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="webBehaviour">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        
        <!--<behavior name="webBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>-->
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
  </system.serviceModel>
  <system.webServer>
    
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <authentication/>
    </security>
    <handlers>
      <remove name="svc-Integrated"/>
    </handlers>
  </system.webServer>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <!--<add name="MobileAppConn" connectionString="Data Source=49.50.71.11;Initial Catalog=SarsoLive;User ID=Sarso_live168;Password=qGe5PMctgE5JVTyk" providerName="System.Data.SqlClient" />-->
    <add name="MobileAppConn" connectionString="Data Source=88.99.153.136,1533;Initial Catalog=sarsobiz;User ID=sarsobiz;Password=g8H8Cz7@1" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="EncriptionKey" value="1!a4s9SarSoD4K5"/>
    <add key="SARSO" value="sarsobiz_10022016"/>
  </appSettings>
</configuration>