<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TransportSecurity">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>

      <webHttpBinding>
        <binding name="webHttpBindingJsonP" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport  clientCredentialType="None"></transport>
          </security>
        </binding>
      </webHttpBinding>

    </bindings>

    <protocolMapping>
      <add binding ="basicHttpsBinding" scheme="https"  />
    </protocolMapping>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0">
      <baseAddressPrefixFilters>
        <add prefix="https://sarsobiz.net/SARSOMobileServices/" />
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
 <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"></standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>    
    
    <services>
      <service name="SARSOMobileService.SARSOMService" behaviorConfiguration="webBehaviour">
        <endpoint address="../SARSOMobileServices" binding="webHttpBinding" contract="SARSOMobileService.ISARSOMService" behaviorConfiguration="web" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      <host>
          <baseAddresses>
            <!--<add baseAddress="../LoginService.svc"/>-->
            <add baseAddress="https://sarsobiz.net/SARSOMobileServices/SARSOMService.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      
      <serviceBehaviors>
        <behavior name="webBehaviour">
          <useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <add scheme="https" port="443" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>          
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />    
  </system.webServer>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <!--<add name="MobileAppConn" connectionString="Data Source=49.50.71.11;Initial Catalog=SarsoLive;User ID=Sarso_live168;Password=qGe5PMctgE5JVTyk" providerName="System.Data.SqlClient" />-->
    <add name="MobileAppConn" connectionString="Data Source=IS-54352;Initial Catalog=sarsobiz;User ID=Sarsomobile;Password=HADEMDm7gYterNsK" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="EncriptionKey" value="1!a4s9SarSoD4K5" />
    <add key="SARSO" value="sarsobiz_10022016" />
  </appSettings>
</configuration>